# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore heavy images.
sites/all/themes/sharktheme/images/bg
sites/all/themes/sharktheme/images/headers

