/***************************************
	jquery.kyco.preloader
	=====================

	Version 1.2.2

	Brought to you by
	http://www.kycosoftware.com

	Copyright 2014 Cornelius Weidmann

	Distributed under the GPL

\***************************************/
#kyco_preloader {
  /*
	**	The preloader position gets set to
	**	either "fixed" or "absolute".
	*/
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px; }

#kyco_preloader .kyco_loader_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.1; }

#kyco_preloader .kyco_loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0.5); }

#kyco_preloader .kyco_progress_notification {
  position: absolute;
  bottom: 6px;
  width: 100%;
  text-align: center; }

#kyco_preloader .kyco_progress_percentage {
  /*
	**	This rule is only necessary if a global
	**	style is applied to all span tags.
	*/
  position: relative;
  float: none; }

#kyco_preloader .kyco_progress_bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  border-bottom: 2px solid #fff; }

#kyco_preloader .kyco_progress_loaded {
  position: relative;
  width: 0;
  height: 100%;
  border-bottom: 2px solid rgba(63, 72, 204, 0.8);
  box-shadow: 0 0 2px rgba(63, 72, 204, 0.5); }

#kyco_preloader .kyco_progress_notification.error {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  border-top: 5px solid #f00; }

#kyco_preloader .kyco_progress_bar.error {
  display: none; }

.kyco_preloader_not_found_error {
  /*
	**	Change image path to match your setup.
	*/
  position: relative;
  background: #fff url(loading-error.png) no-repeat center;
  box-shadow: inset 0 0 0 1px #aaa; }

.rotateCubeTopOut {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: rotateCubeTopOut 1.3s both ease-in;
          animation: rotateCubeTopOut 1.3s both ease-in; }

.rotateCubeTopIn {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: rotateCubeTopIn 1.3s both ease-in;
          animation: rotateCubeTopIn 1.3s both ease-in; }

.rotateCubeBottomOut {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: rotateCubeBottomOut 1.3s both ease-in;
          animation: rotateCubeBottomOut 1.3s both ease-in; }

.rotateCubeBottomIn {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: rotateCubeBottomIn 1.3s both ease-in;
          animation: rotateCubeBottomIn 1.3s both ease-in; }

@-webkit-keyframes rotateCubeTopOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) rotateY(-45deg);
            transform: translateX(-50%) rotateY(-45deg); }
  100% {
    -webkit-transform: translateX(-100%) rotateY(-90deg);
            transform: translateX(-100%) rotateY(-90deg); } }

@keyframes rotateCubeTopOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) rotateY(-45deg);
            transform: translateX(-50%) rotateY(-45deg); }
  100% {
    -webkit-transform: translateX(-100%) rotateY(-90deg);
            transform: translateX(-100%) rotateY(-90deg); } }

@-webkit-keyframes rotateCubeTopIn {
  0% {
    -webkit-transform: translateX(100%) rotateY(90deg);
            transform: translateX(100%) rotateY(90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) rotateY(45deg);
            transform: translateX(50%) rotateY(45deg); } }

@keyframes rotateCubeTopIn {
  0% {
    -webkit-transform: translateX(100%) rotateY(90deg);
            transform: translateX(100%) rotateY(90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) rotateY(45deg);
            transform: translateX(50%) rotateY(45deg); } }

@-webkit-keyframes rotateCubeBottomOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) rotateY(45deg);
            transform: translateX(50%) rotateY(45deg); }
  100% {
    -webkit-transform: translateX(100%) rotateY(90deg);
            transform: translateX(100%) rotateY(90deg); } }

@keyframes rotateCubeBottomOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) rotateY(45deg);
            transform: translateX(50%) rotateY(45deg); }
  100% {
    -webkit-transform: translateX(100%) rotateY(90deg);
            transform: translateX(100%) rotateY(90deg); } }

@-webkit-keyframes rotateCubeBottomIn {
  0% {
    -webkit-transform: translateX(-100%) rotateY(-90deg);
            transform: translateX(-100%) rotateY(-90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) rotateY(-45deg);
            transform: translateX(-50%) rotateY(-45deg); } }

@keyframes rotateCubeBottomIn {
  0% {
    -webkit-transform: translateX(-100%) rotateY(-90deg);
            transform: translateX(-100%) rotateY(-90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) rotateY(-45deg);
            transform: translateX(-50%) rotateY(-45deg); } }

.slideTopOut {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: slideTopOut 1.3s both ease-in;
          animation: slideTopOut 1.3s both ease-in; }

.slideTopIn {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: slideTopIn 1.3s both ease-in;
          animation: slideTopIn 1.3s both ease-in; }

.slideBottomOut {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: slideBottomOut 1.3s both ease-in;
          animation: slideBottomOut 1.3s both ease-in; }

.slideBottomIn {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: slideBottomIn 1.3s both ease-in;
          animation: slideBottomIn 1.3s both ease-in; }

@-webkit-keyframes slideTopOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@keyframes slideTopOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@-webkit-keyframes slideTopIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); } }

@keyframes slideTopIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); } }

@-webkit-keyframes slideBottomOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@keyframes slideBottomOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@-webkit-keyframes slideBottomIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

@keyframes slideBottomIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

.spinTopOut {
  opacity: 1;
  -webkit-animation: spinTopOutWrap 1.3s both ease-in;
          animation: spinTopOutWrap 1.3s both ease-in; }
  .spinTopOut #products-men, .spinTopOut #products-women {
    -webkit-animation: spinTopOut 1.3s both ease-in;
            animation: spinTopOut 1.3s both ease-in;
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg); }

.spinTopIn {
  opacity: 0;
  -webkit-animation: spinTopInWrap 1.3s both ease-in;
          animation: spinTopInWrap 1.3s both ease-in; }
  .spinTopIn #shop-men, .spinTopIn #shop-women {
    -webkit-animation: spinTopIn 1s both ease-in;
            animation: spinTopIn 1s both ease-in;
    -webkit-transform: scale(4) rotate(-90deg);
            transform: scale(4) rotate(-90deg); }

.spinBottomOut {
  opacity: 1;
  -webkit-animation: spinBottomOutWrap 1.3s both ease-in;
          animation: spinBottomOutWrap 1.3s both ease-in; }
  .spinBottomOut #shop-men, .spinBottomOut #shop-women {
    -webkit-animation: spinBottomOut 1.3s both ease-in;
            animation: spinBottomOut 1.3s both ease-in;
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg); }

.spinBottomIn {
  opacity: 0;
  -webkit-animation: spinBottomInWrap 1.3s both ease-in;
          animation: spinBottomInWrap 1.3s both ease-in; }
  .spinBottomIn #products-men, .spinBottomIn #products-women {
    -webkit-animation: spinBottomIn 1s both ease-in;
            animation: spinBottomIn 1s both ease-in;
    -webkit-transform: scale(4) rotate(90deg);
            transform: scale(4) rotate(90deg); }

@-webkit-keyframes spinTopOut {
  40% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(4) rotate(90deg);
            transform: scale(4) rotate(90deg); }
  100% {
    -webkit-transform: scale(4) rotate(90deg);
            transform: scale(4) rotate(90deg); } }

@keyframes spinTopOut {
  40% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(4) rotate(90deg);
            transform: scale(4) rotate(90deg); }
  100% {
    -webkit-transform: scale(4) rotate(90deg);
            transform: scale(4) rotate(90deg); } }

@-webkit-keyframes spinTopOutWrap {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.8; } }

@keyframes spinTopOutWrap {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.8; } }

@-webkit-keyframes spinTopIn {
  30% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(4) rotate(-90deg);
            transform: scale(4) rotate(-90deg); }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg); } }

@keyframes spinTopIn {
  30% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(4) rotate(-90deg);
            transform: scale(4) rotate(-90deg); }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg); } }

@-webkit-keyframes spinTopInWrap {
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

@keyframes spinTopInWrap {
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

@-webkit-keyframes spinBottomOut {
  40% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(4) rotate(-90deg);
            transform: scale(4) rotate(-90deg); }
  100% {
    -webkit-transform: scale(4) rotate(-90deg);
            transform: scale(4) rotate(-90deg); } }

@keyframes spinBottomOut {
  40% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(4) rotate(-90deg);
            transform: scale(4) rotate(-90deg); }
  100% {
    -webkit-transform: scale(4) rotate(-90deg);
            transform: scale(4) rotate(-90deg); } }

@-webkit-keyframes spinBottomOutWrap {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0; } }

@keyframes spinBottomOutWrap {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0; } }

@-webkit-keyframes spinBottomIn {
  30% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(4) rotate(90deg);
            transform: scale(4) rotate(90deg); }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg); } }

@keyframes spinBottomIn {
  30% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(4) rotate(90deg);
            transform: scale(4) rotate(90deg); }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg); } }

@-webkit-keyframes spinBottomInWrap {
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

@keyframes spinBottomInWrap {
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

@-webkit-keyframes diveDownLevelTwo {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@keyframes diveDownLevelTwo {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@-webkit-keyframes diveDownLevelThree {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%); } }

@keyframes diveDownLevelThree {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%); } }

@-webkit-keyframes diveUpLevelTwo {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes diveUpLevelTwo {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes diveUpLevelThree {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%); }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@keyframes diveUpLevelThree {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%); }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

.island-dive-content-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px; }
  .island-dive-content-text-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-perspective: 50vw;
            perspective: 50vw;
    -webkit-perspective-origin: center 50vw;
            perspective-origin: center 50vw;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
  .island-dive-content-text-block {
    height: 80vh;
    width: 20vw;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 64vw;
    background-image: url("../images/text-test.png"); }
    .island-dive-content-text-block:nth-child(1) {
      -webkit-transform: translateZ(6.9vw) translateX(1vw) rotateY(20deg);
              transform: translateZ(6.9vw) translateX(1vw) rotateY(20deg);
      background-position-x: 18vw; }
    .island-dive-content-text-block:nth-child(2) {
      -webkit-transform: translateZ(1.8vw) translatex(0.2vw) rotateY(10deg);
              transform: translateZ(1.8vw) translatex(0.2vw) rotateY(10deg);
      background-position-x: -2vw; }
    .island-dive-content-text-block:nth-child(3) {
      background-position-x: -22vw; }
    .island-dive-content-text-block:nth-child(4) {
      -webkit-transform: translateZ(1.8vw) translatex(-0.2vw) rotateY(-10deg);
              transform: translateZ(1.8vw) translatex(-0.2vw) rotateY(-10deg);
      background-position-x: -42vw; }
    .island-dive-content-text-block:nth-child(5) {
      -webkit-transform: translateZ(6.9vw) translateX(-1vw) rotateY(-20deg);
              transform: translateZ(6.9vw) translateX(-1vw) rotateY(-20deg);
      background-position-x: -62vw; }

#safety .island-dive-content-text {
  background-image: url("../images/bg/texts/safety.jpg"); }

#eco .island-dive-content-text {
  background-image: url("../images/bg/texts/eco.jpg"); }

#habitat .island-dive-content-text {
  background-image: url("../images/bg/texts/habitat.jpg"); }

#roots .island-dive-content-text {
  background-image: url("../images/bg/texts/roots.jpg"); }

#about .island-dive-content-text {
  background-image: url("../images/bg/texts/about.jpg"); }

@-webkit-keyframes toSecond {
  from {
    background-position: 0 center; }
  to {
    background-position: 50% center; } }

@keyframes toSecond {
  from {
    background-position: 0 center; }
  to {
    background-position: 50% center; } }

@-webkit-keyframes toThird {
  from {
    background-position: 50% center; }
  to {
    background-position: 100% center; } }

@keyframes toThird {
  from {
    background-position: 50% center; }
  to {
    background-position: 100% center; } }

@-webkit-keyframes secondBack {
  from {
    background-position: 100% center; }
  to {
    background-position: 50% center; } }

@keyframes secondBack {
  from {
    background-position: 100% center; }
  to {
    background-position: 50% center; } }

@-webkit-keyframes firstBack {
  from {
    background-position: 50% center; }
  to {
    background-position: 0 center; } }

@keyframes firstBack {
  from {
    background-position: 50% center; }
  to {
    background-position: 0 center; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes lukeFirst {
  0% {
    -webkit-transform: translateX(-35px) translateY(0px);
            transform: translateX(-35px) translateY(0px);
    background-size: 120px; }
  100% {
    -webkit-transform: translateX(110px) translateY(-25px);
            transform: translateX(110px) translateY(-25px);
    background-size: 108px; } }

@keyframes lukeFirst {
  0% {
    -webkit-transform: translateX(-35px) translateY(0px);
            transform: translateX(-35px) translateY(0px);
    background-size: 120px; }
  100% {
    -webkit-transform: translateX(110px) translateY(-25px);
            transform: translateX(110px) translateY(-25px);
    background-size: 108px; } }

#block-views-sharktable-block {
  display: none; }

#block-commerce-cap-cap {
  font-size: calc(10px + 0.5vh);
  background: transparent;
  color: white;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 300% auto;
  background-image: url("../images/bg/checkout/checkout.jpg");
  background-position-y: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #block-commerce-cap-cap .alert.error, #block-commerce-cap-cap .messages.error {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 3px;
    font-size: 10px;
    margin: 5px 0;
    border: 0px solid transparent;
    border-radius: 0px;
    display: none; }
    #block-commerce-cap-cap .alert.error ul li, #block-commerce-cap-cap .messages.error ul li {
      list-style-type: none; }
  #block-commerce-cap-cap form {
    display: none; }
  #block-commerce-cap-cap.firstStep > div {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 7.7vw; }
  #block-commerce-cap-cap.firstStep::before {
    width: 125px;
    height: 100%;
    position: absolute;
    background-size: 120px;
    background-position: right 62%;
    right: 0;
    background-image: url(../images/bg/checkout/luke_new.gif);
    background-repeat: no-repeat;
    -webkit-transform: translateX(-35px) translateY(0px);
            transform: translateX(-35px) translateY(0px);
    -webkit-animation: lukeFirst 8s infinite;
            animation: lukeFirst 8s infinite;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s; }
  #block-commerce-cap-cap.firstStep.goingBack {
    -webkit-animation: firstBack 2.5s forwards;
            animation: firstBack 2.5s forwards; }
  #block-commerce-cap-cap.firstStep .table-responsive:first-child table tbody tr:nth-child(7) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  #block-commerce-cap-cap.firstStep .table-responsive:first-child table tbody tr:nth-child(6) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  #block-commerce-cap-cap.firstStep .table-responsive:first-child table tbody tr:nth-child(5) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  #block-commerce-cap-cap.firstStep .table-responsive:first-child table tbody tr:nth-child(8) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  #block-commerce-cap-cap.firstStep .table-responsive:first-child table tbody tr:nth-child(2) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  #block-commerce-cap-cap.firstStep .table-responsive:first-child table tbody tr:nth-child(1) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  #block-commerce-cap-cap.firstStep .table-responsive:first-child table tbody tr:nth-child(3) {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7; }
  #block-commerce-cap-cap.firstStep .table-responsive:first-child table tbody tr:nth-child(4) {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8; }
  #block-commerce-cap-cap.secondStep {
    -webkit-animation: toSecond 2.5s forwards;
            animation: toSecond 2.5s forwards; }
    #block-commerce-cap-cap.secondStep::before {
      width: 125px;
      height: 100%;
      position: absolute;
      background-size: 120px;
      background-position: right 62%;
      right: 0;
      background-image: url(../images/bg/checkout/lukewalk.gif);
      background-repeat: no-repeat;
      -webkit-transform: translateX(-35px) translateY(0px);
              transform: translateX(-35px) translateY(0px);
      -webkit-animation: lukeFirst 8s normal forwards;
              animation: lukeFirst 8s normal forwards;
      -webkit-animation-delay: 1.5s;
              animation-delay: 1.5s; }
    #block-commerce-cap-cap.secondStep.goingBack {
      -webkit-animation: secondBack 2.5s forwards;
              animation: secondBack 2.5s forwards; }
    #block-commerce-cap-cap.secondStep > div {
      max-width: 420px;
      -ms-flex-item-align: start;
          align-self: flex-start;
      margin-top: 4.3vw; }
  #block-commerce-cap-cap.thirdStep {
    -webkit-animation: toThird 2.5s forwards;
            animation: toThird 2.5s forwards; }
    #block-commerce-cap-cap.thirdStep .checkout-help {
      display: none; }
    #block-commerce-cap-cap.thirdStep form > div {
      text-align: center;
      width: 480px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      #block-commerce-cap-cap.thirdStep form > div .cart_contents, #block-commerce-cap-cap.thirdStep form > div .checkout_review, #block-commerce-cap-cap.thirdStep form > div .commerce_payment, #block-commerce-cap-cap.thirdStep form > div .checkout-buttons {
        display: inline-block;
        width: 49.5%;
        vertical-align: top; }
        #block-commerce-cap-cap.thirdStep form > div .cart_contents legend, #block-commerce-cap-cap.thirdStep form > div .checkout_review legend, #block-commerce-cap-cap.thirdStep form > div .commerce_payment legend, #block-commerce-cap-cap.thirdStep form > div .checkout-buttons legend {
          display: none; }
        #block-commerce-cap-cap.thirdStep form > div .cart_contents .panel-body, #block-commerce-cap-cap.thirdStep form > div .checkout_review .panel-body, #block-commerce-cap-cap.thirdStep form > div .commerce_payment .panel-body, #block-commerce-cap-cap.thirdStep form > div .checkout-buttons .panel-body {
          width: 100%;
          padding: 0; }
      #block-commerce-cap-cap.thirdStep form > div .cart_contents .view-commerce-cart-summary td.order-title {
        background: transparent !important;
        color: white;
        font-weight: 500;
        text-align: left; }
      #block-commerce-cap-cap.thirdStep form > div .cart_contents table.commerce-price-formatted-components {
        float: none;
        width: 100%; }
        #block-commerce-cap-cap.thirdStep form > div .cart_contents table.commerce-price-formatted-components td {
          background-color: rgba(255, 255, 255, 0.3); }
      #block-commerce-cap-cap.thirdStep form > div .checkout_review table {
        width: 100%; }
        #block-commerce-cap-cap.thirdStep form > div .checkout_review table td {
          border-radius: 5px !important;
          padding: 2px 4px;
          text-align: left !important; }
        #block-commerce-cap-cap.thirdStep form > div .checkout_review table tr.pane-title td {
          background: none;
          color: white;
          font-weight: 500; }
      #block-commerce-cap-cap.thirdStep form > div .checkout_review .custom-checkout {
        display: none; }
      #block-commerce-cap-cap.thirdStep form > div .checkout-buttons {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3; }
      #block-commerce-cap-cap.thirdStep form > div .commerce_payment {
        display: none;
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4; }
        #block-commerce-cap-cap.thirdStep form > div .commerce_payment label {
          padding: 0; }
          #block-commerce-cap-cap.thirdStep form > div .commerce_payment label input {
            display: none; }
          #block-commerce-cap-cap.thirdStep form > div .commerce_payment label span img {
            top: 0; }
  #block-commerce-cap-cap h2 {
    display: none; }
  #block-commerce-cap-cap .table-responsive {
    border: 0px; }
    #block-commerce-cap-cap .table-responsive table {
      width: auto;
      margin-bottom: 0; }
      #block-commerce-cap-cap .table-responsive table thead {
        display: none; }
        #block-commerce-cap-cap .table-responsive table thead tr td {
          padding: 0;
          border: none; }
      #block-commerce-cap-cap .table-responsive table tbody {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        #block-commerce-cap-cap .table-responsive table tbody tr {
          background: transparent;
          text-align: left;
          border: 2px solid transparent; }
          #block-commerce-cap-cap .table-responsive table tbody tr td {
            font-size: 12px;
            height: 27px;
            width: 78px;
            border: none;
            padding: 0 5px;
            vertical-align: middle;
            background-color: rgba(255, 255, 255, 0.3);
            color: black;
            opacity: 0; }
            #block-commerce-cap-cap .table-responsive table tbody tr td:nth-child(1) {
              -webkit-animation: fadeIn 1s forwards;
                      animation: fadeIn 1s forwards;
              -webkit-animation-delay: 1s;
                      animation-delay: 1s; }
            #block-commerce-cap-cap .table-responsive table tbody tr td:nth-child(2) {
              -webkit-animation: fadeIn 1s forwards;
                      animation: fadeIn 1s forwards;
              -webkit-animation-delay: 2s;
                      animation-delay: 2s; }
            #block-commerce-cap-cap .table-responsive table tbody tr td:nth-child(3) {
              -webkit-animation: fadeIn 1s forwards;
                      animation: fadeIn 1s forwards;
              -webkit-animation-delay: 3s;
                      animation-delay: 3s; }
            #block-commerce-cap-cap .table-responsive table tbody tr td:nth-child(4) {
              -webkit-animation: fadeIn 1s forwards;
                      animation: fadeIn 1s forwards;
              -webkit-animation-delay: 4s;
                      animation-delay: 4s; }
            #block-commerce-cap-cap .table-responsive table tbody tr td:first-child {
              border-radius: 5px 0 0 5px;
              width: 150px; }
            #block-commerce-cap-cap .table-responsive table tbody tr td:last-child {
              border-radius: 0 5px 5px 0;
              text-align: right; }
            #block-commerce-cap-cap .table-responsive table tbody tr td .form-item.form-type-textfield.form-group {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex; }
              #block-commerce-cap-cap .table-responsive table tbody tr td .form-item.form-type-textfield.form-group input {
                width: 40px;
                background: rgba(255, 255, 255, 0.3);
                color: black;
                border: 0px solid white;
                text-align: center;
                box-shadow: none;
                font-size: calc(10px + 0.2vh);
                height: 23px;
                border-radius: 0;
                padding: 0px;
                margin: 0px; }
              #block-commerce-cap-cap .table-responsive table tbody tr td .form-item.form-type-textfield.form-group a {
                font-size: calc(15px + 0.2vh);
                cursor: pointer;
                margin: 0 5px;
                color: black; }
      #block-commerce-cap-cap .table-responsive table.commerce-price-formatted-components {
        float: right;
        width: 150px; }
        #block-commerce-cap-cap .table-responsive table.commerce-price-formatted-components td {
          background-color: rgba(255, 255, 255, 0.2); }
  #block-commerce-cap-cap .panel {
    background: none;
    text-align: left;
    background: none;
    border: none; }
    #block-commerce-cap-cap .panel .panel-body {
      padding: 0; }
    #block-commerce-cap-cap .panel select {
      height: 27px;
      background: rgba(255, 255, 255, 0.3);
      border: 0px;
      border-radius: 6px;
      font-size: 12px;
      box-shadow: none;
      color: black; }
    #block-commerce-cap-cap .panel input {
      height: 27px;
      background: rgba(255, 255, 255, 0.3);
      color: black;
      border: 0px solid white;
      border-radius: 6px;
      padding: 0 10px;
      font-size: 11px;
      transition: 0.3s linear; }
      #block-commerce-cap-cap .panel input::-webkit-input-placeholder {
        color: black; }
      #block-commerce-cap-cap .panel input::-moz-placeholder {
        color: black; }
      #block-commerce-cap-cap .panel input:-ms-input-placeholder {
        color: black; }
      #block-commerce-cap-cap .panel input::placeholder {
        color: black; }
      #block-commerce-cap-cap .panel input.error::-webkit-input-placeholder {
        color: #8d0202; }
      #block-commerce-cap-cap .panel input.error::-moz-placeholder {
        color: #8d0202; }
      #block-commerce-cap-cap .panel input.error:-ms-input-placeholder {
        color: #8d0202; }
      #block-commerce-cap-cap .panel input.error::placeholder {
        color: #8d0202; }
  #block-commerce-cap-cap .account {
    margin-bottom: 0px; }
    #block-commerce-cap-cap .account legend {
      display: none; }
  #block-commerce-cap-cap .customer_profile_shipping, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper {
    display: inline-block;
    vertical-align: top;
    max-width: 48%;
    margin: 0px 3px; }
    #block-commerce-cap-cap .customer_profile_shipping legend, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper legend {
      background: transparent;
      color: white;
      padding: 10px 0;
      border: 0px; }
      #block-commerce-cap-cap .customer_profile_shipping legend span, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper legend span {
        font-size: 14px; }
    #block-commerce-cap-cap .customer_profile_shipping .panel-body, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper .panel-body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      #block-commerce-cap-cap .customer_profile_shipping .panel-body .form-item, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper .panel-body .form-item {
        margin-bottom: 5px;
        width: 100%; }
      #block-commerce-cap-cap .customer_profile_shipping .panel-body .commerce-customer-profile-copy, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper .panel-body .commerce-customer-profile-copy {
        -webkit-box-ordinal-group: 11;
            -ms-flex-order: 10;
                order: 10; }
    #block-commerce-cap-cap .customer_profile_shipping form-group, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper form-group {
      margin-bottom: 8px; }
    #block-commerce-cap-cap .customer_profile_shipping .form-item-customer-profile-billing-commerce-customer-profile-copy label, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper .form-item-customer-profile-billing-commerce-customer-profile-copy label {
      font-size: 11px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-top: 5px; }
      #block-commerce-cap-cap .customer_profile_shipping .form-item-customer-profile-billing-commerce-customer-profile-copy label input, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper .form-item-customer-profile-billing-commerce-customer-profile-copy label input {
        padding: 0;
        height: 12px;
        margin-top: 2px; }
  #block-commerce-cap-cap .commerce_shipping {
    display: none; }
  #block-commerce-cap-cap .button-operator {
    display: none; }
  #block-commerce-cap-cap .checkout-continue, #block-commerce-cap-cap .checkout-back {
    position: absolute;
    bottom: 20px;
    border: 0px;
    border-radius: 6px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black; }
    #block-commerce-cap-cap .checkout-continue a, #block-commerce-cap-cap .checkout-back a {
      color: black;
      text-decoration: none; }
    #block-commerce-cap-cap .checkout-continue:hover, #block-commerce-cap-cap .checkout-back:hover {
      background-color: rgba(255, 255, 255, 0.7); }
  #block-commerce-cap-cap .checkout-continue {
    right: 20px; }
    #block-commerce-cap-cap .checkout-continue .checkout-paypal {
      background-image: url("../images/paypal.png");
      width: 100px;
      height: 25px;
      background-position: center;
      background-size: 100px; }
  #block-commerce-cap-cap .checkout-back {
    left: 20px; }

.island-dive.island-dive--visible #block-commerce-cap-cap form {
  display: block; }

.diveVideoWrapper {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 1; }
  .diveVideoWrapper.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-animation: headerFadout 4.4s ease-in;
            animation: headerFadout 4.4s ease-in; }
  .diveVideoWrapper .diveVideo {
    width: 100%;
    height: auto; }

@-webkit-keyframes headerFadout {
  0 {
    opacity: 0; }
  4% {
    opacity: 1; }
  82% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes headerFadout {
  0 {
    opacity: 0; }
  4% {
    opacity: 1; }
  82% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.island-dive {
  width: 100%;
  top: 100%;
  height: 100%;
  position: absolute;
  display: none;
  left: 0; }
  .island-dive--visible .island-dive-transition {
    background-size: cover;
    background-repeat: no-repeat; }
  .island-dive-transition {
    display: block; }
  .island-dive-content {
    background: #337ab7;
    display: block;
    height: 100%;
    position: relative; }
  .island-dive-nav {
    display: none;
    position: absolute;
    z-index: 99;
    cursor: pointer;
    background-color: red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .island-dive-nav--up {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      -webkit-clip-path: circle(5% at 50% 50px);
              clip-path: circle(5% at 50% 50px); }
    .island-dive-nav--down {
      height: 100%;
      width: 100%;
      bottom: 0;
      left: 0;
      -webkit-clip-path: circle(5% at 50% 93%);
              clip-path: circle(5% at 50% 93%); }
    .island-dive-nav--left {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-clip-path: circle(5% at 5% 50%);
              clip-path: circle(5% at 5% 50%); }
    .island-dive-nav--right {
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      -webkit-clip-path: circle(5% at 95% 50%);
              clip-path: circle(5% at 95% 50%); }
    .island-dive-nav:hover {
      opacity: 1; }

.island-wrapper[data-level="3"] .island-dive-fixed {
  top: 100%; }

.island-dive-content-sitemap {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/bg/luke/underluke.jpg");
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .island-dive-content-sitemap .sitemap-container {
    width: 210px;
    height: 390px;
    position: relative;
    margin: 0 auto 40px;
    -webkit-perspective: 1100px;
            perspective: 1100px;
    margin-left: 300px; }
  .island-dive-content-sitemap .sitemap {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: translateZ(-320px);
            transform: translateZ(-320px);
    transition: -webkit-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    perspective: 1100px;
    -webkit-perspective: initial;
    -moz-perspective: initial;
    -ms-transform-style: none;
    -ms-transform: none; }
    .island-dive-content-sitemap .sitemap-nav {
      position: absolute;
      z-index: 9999;
      height: 405px;
      width: 175px;
      position: absolute;
      display: block;
      cursor: pointer; }
      .island-dive-content-sitemap .sitemap-nav.left {
        left: -165px; }
      .island-dive-content-sitemap .sitemap-nav.right {
        right: -165px; }
    .island-dive-content-sitemap .sitemap-panel {
      display: block;
      position: absolute;
      width: 185px;
      height: 120px;
      left: 10px;
      top: 10px;
      line-height: 116px;
      font-size: 80px;
      font-weight: bold;
      color: white;
      text-align: center;
      perspective: 1100px;
      -webkit-perspective: initial;
      -moz-perspective: initial; }
      .island-dive-content-sitemap .sitemap-panel-item {
        perspective: 1100px;
        -webkit-perspective: initial;
        -moz-perspective: initial;
        margin-top: 5px;
        overflow: hidden;
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%; }
        .island-dive-content-sitemap .sitemap-panel-item img {
          position: absolute;
          top: -9999px;
          right: -9999px;
          bottom: -9999px;
          left: -9999px;
          margin: auto;
          height: 100%;
          width: 100%;
          opacity: 0.8; }
      .island-dive-content-sitemap .sitemap-panel:nth-child(1) {
        -webkit-transform: rotateY(32.7deg) translateZ(320px);
                transform: rotateY(32.7deg) translateZ(320px); }
      .island-dive-content-sitemap .sitemap-panel:nth-child(2) {
        -webkit-transform: rotateY(65.4deg) translateZ(320px);
                transform: rotateY(65.4deg) translateZ(320px); }
      .island-dive-content-sitemap .sitemap-panel:nth-child(3) {
        -webkit-transform: rotateY(98.1deg) translateZ(320px);
                transform: rotateY(98.1deg) translateZ(320px); }
      .island-dive-content-sitemap .sitemap-panel:nth-child(4) {
        -webkit-transform: rotateY(130.8deg) translateZ(320px);
                transform: rotateY(130.8deg) translateZ(320px); }
      .island-dive-content-sitemap .sitemap-panel:nth-child(5) {
        -webkit-transform: rotateY(163.5deg) translateZ(320px);
                transform: rotateY(163.5deg) translateZ(320px); }
      .island-dive-content-sitemap .sitemap-panel:nth-child(6) {
        -webkit-transform: rotateY(196.3deg) translateZ(320px);
                transform: rotateY(196.3deg) translateZ(320px); }
      .island-dive-content-sitemap .sitemap-panel:nth-child(7) {
        -webkit-transform: rotateY(228.9deg) translateZ(320px);
                transform: rotateY(228.9deg) translateZ(320px); }
      .island-dive-content-sitemap .sitemap-panel:nth-child(8) {
        -webkit-transform: rotateY(261.6deg) translateZ(320px);
                transform: rotateY(261.6deg) translateZ(320px); }
      .island-dive-content-sitemap .sitemap-panel:nth-child(9) {
        -webkit-transform: rotateY(294.3deg) translateZ(320px);
                transform: rotateY(294.3deg) translateZ(320px); }
      .island-dive-content-sitemap .sitemap-panel:nth-child(10) {
        -webkit-transform: rotateY(327deg) translateZ(320px);
                transform: rotateY(327deg) translateZ(320px); }
      .island-dive-content-sitemap .sitemap-panel:nth-child(11) {
        -webkit-transform: rotateY(360deg) translateZ(320px);
                transform: rotateY(360deg) translateZ(320px); }
  .island-dive-content-sitemap button {
    color: black; }

#products .island-dive-content {
  height: 200%; }
  #products .island-dive-content-product {
    transition: -webkit-transform 1.5ms ease-in-out;
    transition: transform 1.5ms ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
    position: relative; }

#products-women {
  background-image: url("../images/bg/products/women.jpg"); }

#products-men {
  background-image: url("../images/bg/products/men.jpg"); }

.island-wrapper[data-level="2"] .spinTopOut #products-men, .island-wrapper[data-level="2"] .spinTopIn #products-men, .island-wrapper[data-level="2"] .spinBottomOut #products-men, .island-wrapper[data-level="2"] .spinBottomIn #products-men {
  visibility: hidden; }

.island-wrapper[data-level="3"] .spinTopOut #products-women, .island-wrapper[data-level="3"] .spinTopIn #products-women, .island-wrapper[data-level="3"] .spinBottomOut #products-women, .island-wrapper[data-level="3"] .spinBottomIn #products-women {
  visibility: hidden; }

#shop .island-dive-content {
  height: 200%; }
  #shop .island-dive-content-shop {
    height: 50%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background 1s; }

#shop .island-dive-size {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 150; }
  #shop .island-dive-size-title {
    font-size: 40px;
    cursor: pointer; }

#shop .island-dive-shop {
  transition: -webkit-transform 1.5ms ease-in-out;
  transition: transform 1.5ms ease-in-out;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 150; }
  #shop .island-dive-shop-thumb {
    background: white;
    display: inline-block;
    height: 80px;
    cursor: pointer; }

#shop-women {
  background-image: url("../images/bg/shop/women.png"); }

#shop-men {
  background-image: url("../images/bg/shop/men.png"); }

.island-wrapper[data-level="2"] .spinTopOut #shop-men, .island-wrapper[data-level="2"] .spinTopIn #shop-men, .island-wrapper[data-level="2"] .spinBottomOut #shop-men, .island-wrapper[data-level="2"] .spinBottomIn #shop-men {
  visibility: hidden; }

.island-wrapper[data-level="3"] .spinTopOut #shop-women, .island-wrapper[data-level="3"] .spinTopIn #shop-women, .island-wrapper[data-level="3"] .spinBottomOut #shop-women, .island-wrapper[data-level="3"] .spinBottomIn #shop-women {
  visibility: hidden; }

.island-dive-content-disclaimer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/bg/disclaimer/disclaimer.jpg");
  height: 100%;
  width: 100%; }

.island-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  -webkit-perspective: 1200px;
          perspective: 1200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: -webkit-transform 1.5ms ease-in-out;
  transition: transform 1.5ms ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 150; }
  .island-wrapper[data-level="1"] {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .island-wrapper[data-level="2"] {
    -webkit-animation: diveDownLevelTwo 0.3s both ease-in;
            animation: diveDownLevelTwo 0.3s both ease-in;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  .island-wrapper[data-level="3"] {
    -webkit-animation: diveDownLevelThree 1.3s both ease-in;
            animation: diveDownLevelThree 1.3s both ease-in; }
  .island-wrapper[data-level="1"].goinUp {
    -webkit-animation: diveUpLevelTwo 0.3s both ease-in;
            animation: diveUpLevelTwo 0.3s both ease-in;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  .island-wrapper[data-level="2"].goinUp {
    -webkit-animation: diveUpLevelThree 1.3s both ease-in;
            animation: diveUpLevelThree 1.3s both ease-in; }
  .island-wrapper .island {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    color: #fff;
    visibility: hidden;
    transition: 1.2ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .island-wrapper .island:nth-child(1) {
      background-image: url("../images/bg/islands/L5.jpg"); }
    .island-wrapper .island:nth-child(2) {
      background-image: url("../images/bg/islands/L4.jpg"); }
    .island-wrapper .island:nth-child(3) {
      background-image: url("../images/bg/islands/L3.jpg"); }
    .island-wrapper .island:nth-child(4) {
      background-image: url("../images/bg/islands/L2.jpg"); }
    .island-wrapper .island:nth-child(5) {
      background-image: url("../images/bg/islands/L1.jpg"); }
    .island-wrapper .island:nth-child(6) {
      background-image: url("../images/bg/islands/00.jpg"); }
    .island-wrapper .island:nth-child(7) {
      background-image: url("../images/bg/islands/R1.jpg"); }
    .island-wrapper .island:nth-child(8) {
      background-image: url("../images/bg/islands/R2.jpg"); }
    .island-wrapper .island:nth-child(9) {
      background-image: url("../images/bg/islands/R3.jpg"); }
    .island-wrapper .island:nth-child(10) {
      background-image: url("../images/bg/islands/R4.jpg"); }
    .island-wrapper .island:nth-child(11) {
      background-image: url("../images/bg/islands/R5.jpg"); }
    .island-wrapper .island-visible {
      visibility: visible !important; }
    .island-wrapper .island-center {
      text-align: center; }
      .island-wrapper .island-center .island-title {
        margin: 17vw 0 0 15vw; }
        .island-wrapper .island-center .island-title img {
          width: auto;
          max-height: 14vw; }
    .island-wrapper .island-title {
      -webkit-transform: translateZ(100px);
              transform: translateZ(100px);
      cursor: pointer;
      z-index: 110;
      height: auto;
      width: auto;
      -webkit-clip-path: none;
              clip-path: none; }
      .island-wrapper .island-title img {
        max-height: 10vw; }
      .island-wrapper .island-title:hover {
        opacity: 0.9; }
    .island-wrapper .island-left {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .island-wrapper .island-left .island-title {
        margin: 30vw 0 0 20vw; }
    .island-wrapper .island-right {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .island-wrapper .island-right .island-title {
        margin: 30vw 20vw 0 0; }
    .island-wrapper .island#safety {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .island-wrapper .island#safety .island-title {
        margin: 30vw 0 0 6vw; }
    .island-wrapper .island#contact {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .island-wrapper .island#contact .island-title {
        margin: 30vw 4vw 0 0; }
    .island-wrapper .island-nav--left, .island-wrapper .island-nav--right {
      position: absolute;
      z-index: 99;
      height: 100%;
      width: 50%;
      top: 0; }
    .island-wrapper .island-nav--left {
      left: 0; }
      .island-wrapper .island-nav--left:hover {
        background: linear-gradient(to right, rgba(84, 84, 84, 0.3) 0%, rgba(84, 84, 84, 0) 100%);
        cursor: pointer; }
    .island-wrapper .island-nav--right {
      right: 0; }
      .island-wrapper .island-nav--right:hover {
        background: linear-gradient(to left, rgba(84, 84, 84, 0.3) 0%, rgba(84, 84, 84, 0) 100%);
        cursor: pointer; }

#contact .alert, #contact .error {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 3px;
  font-size: 10px;
  margin: 5px 0;
  border: 0px solid transparent;
  border-radius: 0px; }
  #contact .alert ul li, #contact .error ul li {
    list-style-type: none; }

#contact .island-dive-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/bg/contact/contact.jpg"); }
  #contact .island-dive-content form input {
    height: 27px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    border: 0px solid white;
    border-radius: 6px;
    padding: 10px;
    font-size: 11px; }
    #contact .island-dive-content form input::-webkit-input-placeholder {
      color: white; }
    #contact .island-dive-content form input::-moz-placeholder {
      color: white; }
    #contact .island-dive-content form input:-ms-input-placeholder {
      color: white; }
    #contact .island-dive-content form input::placeholder {
      color: white; }
  #contact .island-dive-content form textarea {
    background: rgba(255, 255, 255, 0.3);
    color: white;
    border: 0px solid white;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 11px; }
    #contact .island-dive-content form textarea::-webkit-input-placeholder {
      color: white; }
    #contact .island-dive-content form textarea::-moz-placeholder {
      color: white; }
    #contact .island-dive-content form textarea:-ms-input-placeholder {
      color: white; }
    #contact .island-dive-content form textarea::placeholder {
      color: white; }
  #contact .island-dive-content form button {
    border: 0px;
    border-radius: 6px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    margin-top: 14px; }
    #contact .island-dive-content form button:hover {
      background-color: rgba(255, 255, 255, 0.7); }
  #contact .island-dive-content form .captcha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #contact .island-dive-content form .captcha img {
      height: 52px;
      width: auto; }
    #contact .island-dive-content form .captcha .form-item-captcha-response {
      font-size: 15px;
      margin-left: 44px; }
  #contact .island-dive-content form .links {
    display: none; }

.tooltip-inner {
  display: none; }

* {
  margin: 0;
  padding: 0; }

html, body {
  overflow: hidden;
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  position: static !important;
  -ms-touch-action: none;
      touch-action: none; }

.mobileNotification {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  z-index: 90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .mobileNotification span {
    text-align: center; }
  .mobileNotification.landscape {
    z-index: 100; }

@media screen and (max-width: 768px) {
  .island-wrapper {
    display: none; } }

@media screen and (min-width: 768px) {
  .mobileNotification {
    display: none; } }

.alert-success.status {
  display: none; }

#bullets {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center; }

#bullets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer; }

#bullets li:first-child, #bullets li:last-child {
  background: rgba(255, 255, 255, 0.2); }

#bullets li.active {
  cursor: default;
  background: #fff; }
