.rotateCubeTopOut {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: rotateCubeTopOut 1.3s both ease-in;
          animation: rotateCubeTopOut 1.3s both ease-in; }

.rotateCubeTopIn {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: rotateCubeTopIn 1.3s both ease-in;
          animation: rotateCubeTopIn 1.3s both ease-in; }

.rotateCubeBottomOut {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: rotateCubeBottomOut 1.3s both ease-in;
          animation: rotateCubeBottomOut 1.3s both ease-in; }

.rotateCubeBottomIn {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: rotateCubeBottomIn 1.3s both ease-in;
          animation: rotateCubeBottomIn 1.3s both ease-in; }

@-webkit-keyframes rotateCubeTopOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) rotateY(-45deg);
            transform: translateX(-50%) rotateY(-45deg); }
  100% {
    -webkit-transform: translateX(-100%) rotateY(-90deg);
            transform: translateX(-100%) rotateY(-90deg); } }

@keyframes rotateCubeTopOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) rotateY(-45deg);
            transform: translateX(-50%) rotateY(-45deg); }
  100% {
    -webkit-transform: translateX(-100%) rotateY(-90deg);
            transform: translateX(-100%) rotateY(-90deg); } }

@-webkit-keyframes rotateCubeTopIn {
  0% {
    -webkit-transform: translateX(100%) rotateY(90deg);
            transform: translateX(100%) rotateY(90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) rotateY(45deg);
            transform: translateX(50%) rotateY(45deg); } }

@keyframes rotateCubeTopIn {
  0% {
    -webkit-transform: translateX(100%) rotateY(90deg);
            transform: translateX(100%) rotateY(90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) rotateY(45deg);
            transform: translateX(50%) rotateY(45deg); } }

@-webkit-keyframes rotateCubeBottomOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) rotateY(45deg);
            transform: translateX(50%) rotateY(45deg); }
  100% {
    -webkit-transform: translateX(100%) rotateY(90deg);
            transform: translateX(100%) rotateY(90deg); } }

@keyframes rotateCubeBottomOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) rotateY(45deg);
            transform: translateX(50%) rotateY(45deg); }
  100% {
    -webkit-transform: translateX(100%) rotateY(90deg);
            transform: translateX(100%) rotateY(90deg); } }

@-webkit-keyframes rotateCubeBottomIn {
  0% {
    -webkit-transform: translateX(-100%) rotateY(-90deg);
            transform: translateX(-100%) rotateY(-90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) rotateY(-45deg);
            transform: translateX(-50%) rotateY(-45deg); } }

@keyframes rotateCubeBottomIn {
  0% {
    -webkit-transform: translateX(-100%) rotateY(-90deg);
            transform: translateX(-100%) rotateY(-90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) rotateY(-45deg);
            transform: translateX(-50%) rotateY(-45deg); } }

.slideTopOut {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: slideTopOut 1.3s both ease-in;
          animation: slideTopOut 1.3s both ease-in; }

.slideTopIn {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: slideTopIn 1.3s both ease-in;
          animation: slideTopIn 1.3s both ease-in; }

.slideBottomOut {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: slideBottomOut 1.3s both ease-in;
          animation: slideBottomOut 1.3s both ease-in; }

.slideBottomIn {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: slideBottomIn 1.3s both ease-in;
          animation: slideBottomIn 1.3s both ease-in; }

@-webkit-keyframes slideTopOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@keyframes slideTopOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@-webkit-keyframes slideTopIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); } }

@keyframes slideTopIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); } }

@-webkit-keyframes slideBottomOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@keyframes slideBottomOut {
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@-webkit-keyframes slideBottomIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

@keyframes slideBottomIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

.island-dive-content-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px; }
  .island-dive-content-text-block {
    max-width: 800px;
    opacity: 0.7;
    font-size: 18px; }

#safety .island-dive-content-text {
  background-image: url("../images/bg/texts/safety.jpg"); }

#eco .island-dive-content-text {
  background-image: url("../images/bg/texts/eco.jpg"); }

#habitat .island-dive-content-text {
  background-image: url("../images/bg/texts/habitat.jpg"); }

#roots .island-dive-content-text {
  background-image: url("../images/bg/texts/roots.jpg"); }

#about .island-dive-content-text {
  background-image: url("../images/bg/texts/about.jpg"); }

@-webkit-keyframes toSecond {
  from {
    background-position: 0 0; }
  to {
    background-position: 50% 0; } }

@keyframes toSecond {
  from {
    background-position: 0 0; }
  to {
    background-position: 50% 0; } }

@-webkit-keyframes toThird {
  from {
    background-position: 50% 0; }
  to {
    background-position: 100% 0; } }

@keyframes toThird {
  from {
    background-position: 50% 0; }
  to {
    background-position: 100% 0; } }

@-webkit-keyframes secondBack {
  from {
    background-position: 100% 0; }
  to {
    background-position: 50% 0; } }

@keyframes secondBack {
  from {
    background-position: 100% 0; }
  to {
    background-position: 50% 0; } }

@-webkit-keyframes firstBack {
  from {
    background-position: 50% 0; }
  to {
    background-position: 0 0; } }

@keyframes firstBack {
  from {
    background-position: 50% 0; }
  to {
    background-position: 0 0; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#block-views-sharktable-block {
  display: none; }

#block-commerce-cap-cap {
  font-size: calc(10px + 0.5vh);
  background: transparent;
  color: white;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 300% auto;
  background-image: url("../images/bg/checkout/checkout.png");
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #block-commerce-cap-cap .alert, #block-commerce-cap-cap .error {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 3px;
    font-size: 10px;
    margin: 5px 0;
    border: 0px solid transparent;
    border-radius: 0px; }
    #block-commerce-cap-cap .alert ul li, #block-commerce-cap-cap .error ul li {
      list-style-type: none; }
  #block-commerce-cap-cap form {
    display: none; }
  #block-commerce-cap-cap.firstStep.goingBack {
    -webkit-animation: firstBack 2.5s forwards;
            animation: firstBack 2.5s forwards; }
  #block-commerce-cap-cap.secondStep {
    -webkit-animation: toSecond 2.5s forwards;
            animation: toSecond 2.5s forwards; }
    #block-commerce-cap-cap.secondStep.goingBack {
      -webkit-animation: secondBack 2.5s forwards;
              animation: secondBack 2.5s forwards; }
    #block-commerce-cap-cap.secondStep > div {
      max-width: 420px; }
  #block-commerce-cap-cap.thirdStep {
    -webkit-animation: toThird 2.5s forwards;
            animation: toThird 2.5s forwards; }
    #block-commerce-cap-cap.thirdStep .checkout-help {
      display: none; }
    #block-commerce-cap-cap.thirdStep form > div {
      text-align: center;
      width: 480px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      #block-commerce-cap-cap.thirdStep form > div .cart_contents, #block-commerce-cap-cap.thirdStep form > div .checkout_review, #block-commerce-cap-cap.thirdStep form > div .commerce_payment, #block-commerce-cap-cap.thirdStep form > div .checkout-buttons {
        display: inline-block;
        width: 49.5%;
        vertical-align: top; }
        #block-commerce-cap-cap.thirdStep form > div .cart_contents legend, #block-commerce-cap-cap.thirdStep form > div .checkout_review legend, #block-commerce-cap-cap.thirdStep form > div .commerce_payment legend, #block-commerce-cap-cap.thirdStep form > div .checkout-buttons legend {
          display: none; }
        #block-commerce-cap-cap.thirdStep form > div .cart_contents .panel-body, #block-commerce-cap-cap.thirdStep form > div .checkout_review .panel-body, #block-commerce-cap-cap.thirdStep form > div .commerce_payment .panel-body, #block-commerce-cap-cap.thirdStep form > div .checkout-buttons .panel-body {
          width: 100%;
          padding: 0; }
      #block-commerce-cap-cap.thirdStep form > div .cart_contents .view-commerce-cart-summary td.order-title {
        background: transparent !important;
        color: white;
        font-weight: 500;
        text-align: left; }
      #block-commerce-cap-cap.thirdStep form > div .cart_contents table.commerce-price-formatted-components {
        float: none;
        width: 100%; }
        #block-commerce-cap-cap.thirdStep form > div .cart_contents table.commerce-price-formatted-components td {
          background-color: rgba(255, 255, 255, 0.3); }
      #block-commerce-cap-cap.thirdStep form > div .checkout_review table {
        width: 100%; }
        #block-commerce-cap-cap.thirdStep form > div .checkout_review table td {
          border-radius: 12px !important;
          padding: 2px 4px;
          text-align: left !important; }
        #block-commerce-cap-cap.thirdStep form > div .checkout_review table tr.pane-title td {
          background: none;
          color: white;
          font-weight: 500; }
      #block-commerce-cap-cap.thirdStep form > div .checkout_review .custom-checkout {
        display: none; }
      #block-commerce-cap-cap.thirdStep form > div .checkout-buttons {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3; }
      #block-commerce-cap-cap.thirdStep form > div .commerce_payment {
        display: none;
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4; }
        #block-commerce-cap-cap.thirdStep form > div .commerce_payment label {
          padding: 0; }
          #block-commerce-cap-cap.thirdStep form > div .commerce_payment label input {
            display: none; }
          #block-commerce-cap-cap.thirdStep form > div .commerce_payment label span img {
            top: 0; }
  #block-commerce-cap-cap h2 {
    display: none; }
  #block-commerce-cap-cap .table-responsive {
    border: 0px; }
    #block-commerce-cap-cap .table-responsive table {
      width: auto;
      margin-bottom: 0; }
      #block-commerce-cap-cap .table-responsive table thead {
        display: none; }
        #block-commerce-cap-cap .table-responsive table thead tr td {
          padding: 0;
          border: none; }
      #block-commerce-cap-cap .table-responsive table tbody tr {
        background: transparent;
        text-align: left;
        border: 4px solid transparent; }
        #block-commerce-cap-cap .table-responsive table tbody tr td {
          font-size: 12px;
          height: 27px;
          width: 78px;
          border: none;
          padding: 0 5px;
          vertical-align: middle;
          background-color: rgba(255, 255, 255, 0.3);
          color: black;
          opacity: 0; }
          #block-commerce-cap-cap .table-responsive table tbody tr td:nth-child(1) {
            -webkit-animation: fadeIn 1s forwards;
                    animation: fadeIn 1s forwards;
            -webkit-animation-delay: 1s;
                    animation-delay: 1s; }
          #block-commerce-cap-cap .table-responsive table tbody tr td:nth-child(2) {
            -webkit-animation: fadeIn 1s forwards;
                    animation: fadeIn 1s forwards;
            -webkit-animation-delay: 2s;
                    animation-delay: 2s; }
          #block-commerce-cap-cap .table-responsive table tbody tr td:nth-child(3) {
            -webkit-animation: fadeIn 1s forwards;
                    animation: fadeIn 1s forwards;
            -webkit-animation-delay: 3s;
                    animation-delay: 3s; }
          #block-commerce-cap-cap .table-responsive table tbody tr td:nth-child(4) {
            -webkit-animation: fadeIn 1s forwards;
                    animation: fadeIn 1s forwards;
            -webkit-animation-delay: 4s;
                    animation-delay: 4s; }
          #block-commerce-cap-cap .table-responsive table tbody tr td:first-child {
            border-radius: 12px 0 0 12px;
            width: 150px; }
          #block-commerce-cap-cap .table-responsive table tbody tr td:last-child {
            border-radius: 0 12px 12px 0;
            text-align: right; }
          #block-commerce-cap-cap .table-responsive table tbody tr td .form-item.form-type-textfield.form-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            #block-commerce-cap-cap .table-responsive table tbody tr td .form-item.form-type-textfield.form-group input {
              width: 40px;
              background: rgba(255, 255, 255, 0.3);
              color: black;
              border: 0px solid white;
              text-align: center;
              box-shadow: none;
              font-size: calc(10px + 0.2vh);
              height: 23px;
              border-radius: 0;
              padding: 0px;
              margin: 0px; }
            #block-commerce-cap-cap .table-responsive table tbody tr td .form-item.form-type-textfield.form-group a {
              font-size: calc(15px + 0.2vh);
              cursor: pointer;
              margin: 0 5px;
              color: black; }
      #block-commerce-cap-cap .table-responsive table.commerce-price-formatted-components {
        float: right;
        width: 150px; }
        #block-commerce-cap-cap .table-responsive table.commerce-price-formatted-components td {
          background-color: rgba(255, 255, 255, 0.2); }
  #block-commerce-cap-cap .panel {
    background: none;
    text-align: left;
    background: none;
    border: none; }
    #block-commerce-cap-cap .panel .panel-body {
      padding: 0; }
    #block-commerce-cap-cap .panel select {
      height: 27px;
      background: rgba(255, 255, 255, 0.3);
      border: 0px;
      border-radius: 6px;
      font-size: 12px;
      box-shadow: none;
      color: black; }
    #block-commerce-cap-cap .panel input {
      height: 27px;
      background: rgba(255, 255, 255, 0.3);
      color: black;
      border: 0px solid white;
      border-radius: 6px;
      padding: 0 10px;
      font-size: 11px; }
      #block-commerce-cap-cap .panel input::-webkit-input-placeholder {
        color: black; }
      #block-commerce-cap-cap .panel input::-moz-placeholder {
        color: black; }
      #block-commerce-cap-cap .panel input:-ms-input-placeholder {
        color: black; }
      #block-commerce-cap-cap .panel input::placeholder {
        color: black; }
  #block-commerce-cap-cap .account {
    margin-bottom: 0px; }
    #block-commerce-cap-cap .account legend {
      display: none; }
  #block-commerce-cap-cap .customer_profile_shipping, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper {
    display: inline-block;
    vertical-align: top;
    max-width: 48%;
    margin: 0px 3px; }
    #block-commerce-cap-cap .customer_profile_shipping legend, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper legend {
      background: transparent;
      color: white;
      padding: 10px 0;
      border: 0px; }
      #block-commerce-cap-cap .customer_profile_shipping legend span, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper legend span {
        font-size: 14px; }
    #block-commerce-cap-cap .customer_profile_shipping .panel-body, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper .panel-body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      #block-commerce-cap-cap .customer_profile_shipping .panel-body .form-item, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper .panel-body .form-item {
        margin-bottom: 5px;
        width: 100%; }
      #block-commerce-cap-cap .customer_profile_shipping .panel-body .commerce-customer-profile-copy, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper .panel-body .commerce-customer-profile-copy {
        -webkit-box-ordinal-group: 11;
            -ms-flex-order: 10;
                order: 10; }
    #block-commerce-cap-cap .customer_profile_shipping form-group, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper form-group {
      margin-bottom: 8px; }
    #block-commerce-cap-cap .customer_profile_shipping .form-item-customer-profile-billing-commerce-customer-profile-copy label, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper .form-item-customer-profile-billing-commerce-customer-profile-copy label {
      font-size: 11px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-top: 5px; }
      #block-commerce-cap-cap .customer_profile_shipping .form-item-customer-profile-billing-commerce-customer-profile-copy label input, #block-commerce-cap-cap #customer-profile-billing-ajax-wrapper .form-item-customer-profile-billing-commerce-customer-profile-copy label input {
        padding: 0;
        height: 12px;
        margin-top: 2px; }
  #block-commerce-cap-cap .commerce_shipping {
    display: none; }
  #block-commerce-cap-cap .button-operator {
    display: none; }
  #block-commerce-cap-cap .checkout-continue, #block-commerce-cap-cap .checkout-back {
    position: absolute;
    bottom: 20px;
    border: 0px;
    border-radius: 6px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black; }
    #block-commerce-cap-cap .checkout-continue a, #block-commerce-cap-cap .checkout-back a {
      color: black;
      text-decoration: none; }
    #block-commerce-cap-cap .checkout-continue:hover, #block-commerce-cap-cap .checkout-back:hover {
      background-color: rgba(255, 255, 255, 0.7); }
  #block-commerce-cap-cap .checkout-continue {
    right: 20px; }
    #block-commerce-cap-cap .checkout-continue .checkout-paypal {
      background-image: url("http://www.freepngimg.com/thumb/paypal/3-2-paypal-logo-png-thumb.png");
      width: 100px;
      height: 25px;
      background-position: center;
      background-size: 100px; }
  #block-commerce-cap-cap .checkout-back {
    left: 20px; }

.island-dive.island-dive--visible #block-commerce-cap-cap form {
  display: block; }

.island-dive {
  width: 100%;
  top: 100%;
  height: 100%;
  position: absolute; }
  .island-dive--visible .island-dive-transition {
    background: url("http://bestanimations.com/Nature/Water/ocean-water-animated-gif-3.gif");
    background-size: cover;
    background-repeat: no-repeat; }
  .island-dive-transition {
    display: block;
    height: 100%; }
  .island-dive-content {
    background: #337ab7;
    display: block;
    height: 100%;
    position: relative; }
  .island-dive-nav {
    position: absolute;
    z-index: 99;
    opacity: 0;
    cursor: pointer;
    background-image: url(http://mimicshark-jawni.c9users.io/sites/all/themes/sharktheme/images/bg1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .island-dive-nav--up {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      -webkit-clip-path: circle(5% at 50% 50px);
              clip-path: circle(5% at 50% 50px); }
    .island-dive-nav--down {
      height: 100%;
      width: 100%;
      bottom: 0;
      left: 0;
      -webkit-clip-path: circle(5% at 50% 93%);
              clip-path: circle(5% at 50% 93%); }
    .island-dive-nav--left {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-clip-path: circle(5% at 5% 50%);
              clip-path: circle(5% at 5% 50%); }
    .island-dive-nav--right {
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      -webkit-clip-path: circle(5% at 95% 50%);
              clip-path: circle(5% at 95% 50%); }
    .island-dive-nav:hover {
      opacity: 1; }

.island-dive-content-sitemap {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/bg/luke/underluke.jpg");
  height: 100%;
  width: 100%; }

#products .island-dive-content {
  height: 200%; }
  #products .island-dive-content-product {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%; }

#products-women {
  background-image: url("../images/bg/products/women.jpg"); }

#products-men {
  background-image: url("../images/bg/products/men.jpg"); }

#shop .island-dive-content {
  height: 200%; }
  #shop .island-dive-content-shop {
    height: 50%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background 1s; }

#shop .island-dive-size {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 150; }
  #shop .island-dive-size-title {
    font-size: 40px;
    cursor: pointer; }

#shop .island-dive-shop {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 150; }
  #shop .island-dive-shop-thumb {
    background: white;
    display: inline-block;
    height: 80px;
    cursor: pointer; }

#shop-women {
  background-image: url("../images/bg/shop/women.png"); }

#shop-men {
  background-image: url("../images/bg/shop/men.png"); }

.island-dive-content-disclaimer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/bg/disclaimer/disclaimer.png");
  height: 100%;
  width: 100%; }

.island-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  -webkit-perspective: 1200px;
          perspective: 1200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  .island-wrapper .island {
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    font-size: 5em;
    color: #fff;
    visibility: hidden;
    transition: 1.2ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .island-wrapper .island:nth-child(1) {
      background-image: url("../images/bg/islands/01.jpg"); }
    .island-wrapper .island:nth-child(2) {
      background-image: url("../images/bg/islands/02.jpg"); }
    .island-wrapper .island:nth-child(3) {
      background-image: url("../images/bg/islands/03.jpg"); }
    .island-wrapper .island:nth-child(4) {
      background-image: url("../images/bg/islands/04.jpg"); }
    .island-wrapper .island:nth-child(5) {
      background-image: url("../images/bg/islands/05.jpg"); }
    .island-wrapper .island:nth-child(6) {
      background-image: url("../images/bg/islands/06.jpg"); }
    .island-wrapper .island:nth-child(7) {
      background-image: url("../images/bg/islands/07.jpg"); }
    .island-wrapper .island:nth-child(8) {
      background-image: url("../images/bg/islands/08.jpg"); }
    .island-wrapper .island:nth-child(9) {
      background-image: url("../images/bg/islands/09.jpg"); }
    .island-wrapper .island:nth-child(10) {
      background-image: url("../images/bg/islands/10.jpg"); }
    .island-wrapper .island:nth-child(11) {
      background-image: url("../images/bg/islands/11.jpg"); }
    .island-wrapper .island-visible {
      visibility: visible !important; }
    .island-wrapper .island-center {
      text-align: center; }
      .island-wrapper .island-center .island-title {
        margin: 15% 0% 0% 15%; }
        .island-wrapper .island-center .island-title img {
          width: auto;
          max-width: 150px; }
    .island-wrapper .island-title {
      -webkit-transform: translateZ(100px);
              transform: translateZ(100px);
      cursor: pointer;
      z-index: 110;
      height: auto;
      width: auto;
      -webkit-clip-path: none;
              clip-path: none; }
      .island-wrapper .island-title img {
        max-height: 110px; }
      .island-wrapper .island-title:hover {
        opacity: 0.9; }
    .island-wrapper .island-left {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .island-wrapper .island-left .island-title {
        margin: 25% 0% 0% 15%; }
    .island-wrapper .island-right {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .island-wrapper .island-right .island-title {
        margin: 25% 15% 0% 0%; }
    .island-wrapper .island#safety .island-title {
      margin: 25% 0% 0% 50%; }
    .island-wrapper .island#contact .island-title {
      margin: 25% 50% 0% 0%; }
    .island-wrapper .island-nav--left, .island-wrapper .island-nav--right {
      position: absolute;
      z-index: 99;
      height: 100%;
      width: 50%;
      top: 0; }
    .island-wrapper .island-nav--left {
      left: 0; }
      .island-wrapper .island-nav--left:hover {
        background: linear-gradient(to right, rgba(84, 84, 84, 0.3) 0%, rgba(84, 84, 84, 0) 100%);
        cursor: pointer; }
    .island-wrapper .island-nav--right {
      right: 0; }
      .island-wrapper .island-nav--right:hover {
        background: linear-gradient(to left, rgba(84, 84, 84, 0.3) 0%, rgba(84, 84, 84, 0) 100%);
        cursor: pointer; }

* {
  margin: 0;
  padding: 0; }

#goFS {
  display: none; }

html, body {
  overflow: hidden;
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  position: static !important; }

@media screen and (max-width: 760px) {
  #goFS {
    display: block;
    position: absolute;
    z-index: 999;
    left: 20px;
    top: 20px; }
  .bullets li {
    margin: 0 6px; } }

body.horizontal {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
  body.horizontal .island {
    background-size: auto 100%; }

.alert-success.status {
  display: none; }

#bullets {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center; }

#bullets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer; }

#bullets li:first-child, #bullets li:last-child {
  background: rgba(255, 255, 255, 0.2); }

#bullets li.active {
  cursor: default;
  background: #fff; }
