
// checkout
@keyframes toSecond {
	from { background-position: 0 center; }
	to { background-position: 50% center; }
}
@keyframes toThird {
	from { background-position: 50% center; }
	to { background-position: 100% center; }
}
@keyframes secondBack {
	from { background-position: 100% center; }
	to { background-position: 50% center; }
}
@keyframes firstBack {
	from { background-position: 50% center; }
	to { background-position: 0 center; }
}
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes lukeFirst {
	0% { 
		transform: translateY(4vh) translateX(-10vw);
	    background-size: 14.5vh;
	    opacity: 0;
	}
	
	40% {
		opacity: 1;
	}

	100% {
		animation-delay: 5s;
	    background-size: 9.5vh;
	    transform: translateY(-1vh) translateX(5vw);
	    opacity: 1;
	}
}

@keyframes lukeSecond {
	0% { 
	    background-size: 4.3vw;
	    transform: translateX(-9.5vw) translateY(-4.4vh);
	    opacity: 0;
	}
	
	10% {
		opacity: 1;
	}

	100% {
	    background-size: 5vh;
	    transform: translateX(2.8vw) translateY(-6vh);
	    opacity: 1;
	}
}


@keyframes lukeThird {
	0% { 
		background-size: 1.4vw;
	    transform: translateX(-67vw) translateY(-7.4vh);
	    opacity: 0;
	}
	
	10% {
		opacity: 1;
	}

	100% {
		background-size: 0vw;
    	transform: translateX(-66vw) translateY(-8.4vh);
		opacity: 1;
	}
}

@keyframes lukeDisappear {
	0% { 
		visibility: visible;
		opacity: 1;
	}
	
	60% {
		opacity: 1;
	}
	
	99% {
		visibility: visible;
	    opacity: 0;
	}

	100% {
	    opacity: 0;
	    visibility: hidden;
	}
}


#block-views-sharktable-block {
	display: none;
}


#sideluke {
	display: none;
}

.island-visible #sideluke {
	display: block;
	z-index: 999;
    transform: rotate(8deg);
    width: 23vw;
    height: 50vw;
    position: absolute;
    background-size: 38vh;
    background-position: left bottom;
    left: -2.1vw;
    bottom: -16vw;
	opacity: 0;
    background-image: url(../images/bg/checkout/lukeshop.png);
    background-repeat: no-repeat;
	animation: lukeDisappear 6.5s forwards;
}


#block-commerce-cap-cap {
	font-size: calc(10px + 0.5vh);
	background: transparent;
	color: white;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: 300% auto;
    background-image: url('../images/bg/checkout/checkout.jpg');
	background-position-y: center;
	position: absolute;
    height: 100%;
    width: 100%;	
    justify-content: center;
    align-items: center;
    display: flex;
    
    // LUKE
    
    &::before {
		width: 125px;
	    height: 100%;
	    position: absolute;
	    background-size: 120px;
	    background-position: right 62%;
	    right: 0;
	    background-repeat: no-repeat;
    }
    
    .alert.error, .messages.error {
	    width: 100%;
		background-color: rgba(255,255,255,0.3);
	    padding: 3px;
	    font-size: 10px;
	    margin: 5px 0;
	    border: 0px solid transparent;
	    border-radius: 0px;
	    display: none;
	    ul {
	    	li {
			    list-style-type: none;
	    	}
	    }
    }
    
    
    form {
		display: none;
    }

	.island-nav--up {
		margin-top: 0 !important;
	}

	&.firstStep {
		
		&>div {
			align-self: flex-start;
		    margin-top: 7.7vw;
		    z-index: 500;
		}

	    &::before {
		    background-image: url(../images/bg/checkout/luke.gif);    	
		    opacity: 0;
		    animation: lukeFirst 15s normal forwards;
	   	    animation-delay: 4.5s;
	    }

		&.goingBack {
			animation: firstBack 2.5s forwards;
		}
		.table-responsive:first-child {
			table {
			}
		}
	}

	&.secondStep {
		
		.checkout-messages {
		    background-color: rgba(255, 255, 255, 0.3);
		    display: inline-block;
		    width: 49%;
		    height: 27px;
		    padding: 5px 10px;
		    border-radius: 6px;
		    margin: 5px 0px;
		    font-size: 11px;
		    color: black;	
		    cursor: pointer;
		    
		    &.privacy {
			    margin-left: 8px;
		    }
		    &:hover {
			    background-color: rgba(255, 255, 255, 0.7);
			    text-decoration: none;
		    }
		}
		
		animation: toSecond 2.5s forwards;
		
	    &::before {
		    background-image: url(../images/bg/checkout/luke2.gif);    	
	   	    opacity: 0;
		   	animation: lukeSecond 18s normal forwards;
	   	    animation-delay: 3s;
	    }

		&.goingBack {
			animation: secondBack 2.5s forwards;
		}
		&>div {
			max-width: 420px;
			align-self: flex-start;
		    margin-top: 4.3vw;				
		    z-index: 500;

		}
	}
	
	&.thirdStep {
		animation: toThird 2.5s forwards;

	    &::before {
		    background-image: url(../images/bg/checkout/luke2.gif);    	
	   	    opacity: 0;
		   	animation: lukeThird 18s normal forwards;
	   	    animation-delay: 3s;
	    }

		.checkout-help {
			display: none;
		}
		form>div {
			text-align: center;
		    z-index: 500;
		    width: 480px;
		    display: flex;
		    flex-wrap: wrap;			
		    margin-top: -20vw;
		    
		    .cart_contents, .checkout_review, .commerce_payment, .checkout-buttons {
			    display: inline-block;
			    width: 49.5%;
			    vertical-align: top;	
			    legend {
					display: none;
				}
				.panel-body {
				    width: 100%;
				    padding: 0;
				}
			}
			.cart_contents {
				
				.view-commerce-cart-summary {
					td.order-title {
				    	background: transparent !important;
					    color: white;
					    font-weight: 500;
			    		text-align: left;
				    }					
				}
				
				table.commerce-price-formatted-components {
				    float: none;
				    width: 100%;
				    td {
						background-color: rgba(255,255,255,0.3);
						width: 150px !important;

				    }
				}				
			}
			.checkout_review {
				table {
					width: 100%;
					td {
					    border-radius: 5px !important;
					    padding: 2px 4px;
					    text-align: left !important;

					}
					tr.pane-title {
						td {
					    	background: none;
					    	color: white;
					    	font-weight: 500;
						}
				    }
				}
				.custom-checkout {
					display: none;
				}			
			}
			.checkout-buttons {
				order: 3;
			}
			.commerce_payment {
			    display: none;
			    order: 4;
				label {
				 	padding: 0;
				 	input {
				 		display: none;
				 	}
			 		span {
			 			img {
			 				top: 0;
			 			}
			 		}
				}
			}
		}
		
		.table-responsive table tbody tr {
		    max-width: 233px;
		}

		.table-responsive {
		table {
			tbody {
				tr {
					td {

					    &:nth-child(1) {
	    					
					    }
					    &:nth-child(2) {
							width: 50px;
					    }	
					    &:nth-child(3) {
							width: 40px;
					    }
					    &:nth-child(4) {
							width: 40px;
					    }				
					    &:first-child {
						    width: 108px;
					    }					    
						&.pane-data-full {
							width: 322px !important;
						}
					}
				}
			}


		}
	}



	}

	h2 {
		display: none;
	}
	
	.table-responsive {
		border: 0px;

		table {
			width: auto;
			margin-bottom: 0;
			
			thead {
				display: none;
				tr {
					td {
						padding: 0;
						border: none;
					}
				}
			}
			tbody {
				display: flex;
				flex-direction: column;
				tr {
					background: transparent;
				    text-align: left;
				    border: 2px solid transparent;	
				    
				    
				
					td {
						font-size: 12px;
						height: 27px;
						width: 78px;
						border: none;
						padding: 0 5px; 
					    vertical-align: middle;
					    background-color: rgba(255,255,255,0.3);
					    color: black;
					   //mudar pra 0
					    opacity: 0;
					    
					    &:nth-child(1) {
	    					animation: fadeIn 2s forwards;
							animation-delay: 5s;
					    }
					    &:nth-child(2) {
	    					animation: fadeIn 2s forwards;
							animation-delay: 6s;

					    }	
					    &:nth-child(3) {
	    					animation: fadeIn 2s forwards;
							animation-delay: 7s;
					    }
					    &:nth-child(4) {
	    					animation: fadeIn 2s forwards;
							animation-delay: 7.5s;
					    }				
					    &:first-child {
					    	border-radius: 5px 0 0 5px;
						    width: 150px;
					    }					    
					    &:last-child {
					    	border-radius: 0 5px 5px 0;
						    text-align: right;
					    }		
					    
						.form-item.form-type-textfield.form-group {
							display: flex;
							input {
							    width: 40px;
					    		background: rgba(255,255,255,0.3);
							    color: black;
							    border: 0px solid white;
							    text-align: center;
							    box-shadow: none;
							    font-size: calc(10px + 0.2vh);
							    height: 23px;
							    border-radius: 0;
							    padding: 0px;
							    margin: 0px;
							}
							a {
							    font-size: calc(15px + 0.2vh);
							    cursor: pointer;
							    margin: 0 5px;
							    color: black;
							}
						}
						
						&.pane-data-full {
						}
					}
				}
			}

			&.commerce-price-formatted-components {
			    float: right;
			    td {
			    	background-color: rgba(255,255,255,0.2);
			    }
			}

		}
	}

	
	// section 2
	
	.panel {
		background: none;
	    text-align: left;
	    background: none;
	    border: none;
	    .panel-body {
	    	padding: 0;
	    }
	    
	    select {
		    height: 27px;
		    background: rgba(255,255,255,0.3);
		    border: 0px;
		    border-radius: 6px;
		    font-size: 12px;	
		    box-shadow: none;
		    color: black;	    
	    }
	    input {
	    	height: 27px;
    		background: rgba(255,255,255,0.3);
		    color: black;
		    border: 0px solid white;
	    	border-radius: 6px;
		    padding: 0 10px;
		    font-size: 11px;
		    transition: 0.3s linear;

		    &::placeholder {
		    	color: black;
		    }
		    &.error {
			    &::placeholder {
			    	color: #8d0202;
			    }
		    }
	    }
	}
	
	.account {
	    margin-bottom: 0px;
	    legend {
				display: none;
			}
	}
	
	.customer_profile_shipping, #customer-profile-billing-ajax-wrapper {
		display: inline-block;
		vertical-align: top;
	    max-width: 48%;
	    margin: 0px 3px;
		legend {
			background: transparent;
			color: white;
			padding: 10px 0;
		    border: 0px;
		    span {
				font-size: 14px;
			}
		}
		.panel-body {
			display: flex;
			flex-direction: column;
			.form-item {
			    margin-bottom: 5px;
			    width: 100%;
			}
			.commerce-customer-profile-copy {
				order: 10
			}
		}
		form-group {
			margin-bottom: 8px;
		}
		.form-item-customer-profile-billing-commerce-customer-profile-copy {
			label {
				font-size: 11px;
			    display: flex;
			    align-items: flex-start;
			    padding-top: 5px;
			    input {
				    padding: 0;
				    height: 12px;
				    margin-top: 2px;			    	
			    }
			}
		}
	}
	
	.commerce_shipping {
		display: none;
	}

	
	
	//BOTOES
	
	.button-operator {
		display: none;
	}
	
	.checkout-continue, .checkout-back {
	    position: absolute;
	    bottom: 20px;
	    border: 0px;
	    border-radius: 6px;
	    height: 35px;
		background-color: rgba(255,255,255,0.2);
		color: black;
		z-index: 110;
        min-width: 70px;

		a {
			color: black;
			text-decoration: none;
		}
		&:hover {
			background-color: rgba(255,255,255,0.7);
		}
	}
	

    .disclaimer-text {
  		position: absolute;
	    bottom: 13px;
	    right: 155px;
    	color: white;
    	font-size: 15px;
	     margin-top: 2px;
	     a {
	    		color: white;
	    	}
	    	input {
			    vertical-align: middle;
			    width: 15px;    		
			    margin-top: 0px;
			    margin-left: 2px;
	    	}
	    }


	.checkout-continue {
	    right: 20px;
	    .checkout-paypal {
	    	background-image: url("../images/paypal.png");
		    width: 100px;
		    height: 25px;
		    background-position: center;
		    background-size: 100px;
	    }
    }
    .checkout-back {
	    left: 20px;
    }
	
}


// mostrar so quando esta visivel o dive

.island-dive.island-dive--visible {
	#block-commerce-cap-cap form {
		display: block;
	}
}

@media only screen and (max-width: 768px) {

	#block-commerce-cap-cap {
		&>div {
	      .view.form-wrapper.form-group {
	  	      margin-top: -9vw;
		      transform: scale(0.8);
	      }
		}
		.customer_profile_shipping {
		    transform: scale(0.8);
		    margin-top: -10px;
		    transform-origin: 100% 0;			
		}
		#customer-profile-billing-ajax-wrapper {
	      	transform: scale(0.8);
		    margin-top: -10px;
	    	transform-origin: 0 0;
		}
		.account {
		    margin-top: -10px;
	      	transform: scale(0.8);
		}
		&.secondStep .checkout-messages {	
	      background-color: rgba(255, 255, 255, 0.7);
		}
		&.thirdStep form > div .checkout_review {
	      	transform: scale(0.8);
		    transform-origin: 100%;
		    margin-top: 140px;
		}
		&.thirdStep form > div .cart_contents {
		    transform: scale(0.8);
		    transform-origin: 100%;
    		margin-top: 140px;			
		}
	}
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   #block-commerce-cap-cap {
   		&::before {
   			background-image: url(../images/bg/checkout/lukie.gif) !important;
		    animation: lukeIE 7s normal forwards !important;
	   	    animation-delay: 7s !important;
   		}
   	
   	
   		&.firstStep {
		   	&::before {
		   		background-position: 110% 0% !important;
				background-size: auto;
				width: 500px;
		   	}
		}
   }
}

@keyframes lukeIE {
	
	0% { 
	    opacity: 0;
	}
	
	10% {
		opacity: 1;
	}

	90% {
	    opacity: 1;
	}
	100% {
		opacity: 0;
	}
}