@import url('https://fonts.googleapis.com/css?family=Montserrat:900');


#contact {
    .alert-block {
        display: none;
    }
    
    .alert, .error {
	    &::placeholder {
    	    color: #a94442 !important;
	    }
	    ul {
	    	li {
			    list-style-type: none;
	    	}
	    }
    }

    &-thanks {
        width: 100vw;
        height: auto;
        position: absolute;
        left: 0;
        top: 45%;
        transform: translateY(-50%);
        z-index: 100;
        &-title {
            left: 50%;
            top: 50%;
            opacity: 0;
            transform: translate(-50%, -50%);
             margin: 10vw 0 0 -0.4vw;
             position: absolute;
            z-index: 9200;
            animation: titlefadein 1s;
            animation-fill-mode: forwards;
            animation-delay: 3.5s;
            img {
              width: 225px;                
            }
        }
    }

    #block-webform-client-block-17 {
        // position: relative;
        z-index: 500;
    }

    #webform-ajax-wrapper-17 {
        .links {
            position: absolute;
            z-index: 9999;
            left: 50%;
            top: 50%;
            color: white;
            transform: translate(-50%, -50%);
            margin: 14vw 0 0 0;
            opacity: 0;
            animation: titlefadein 1s;
            animation-fill-mode: forwards;
            animation-delay: 3.8s;

            a {
                font-size: 12px;
                color: white;
            }
        }
        .div-hide {
            opacity: 0;
        }
    }

    .island-dive-content {
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/bg/contact/contact.jpg');

        form {
            input {
    	    	height: 27px;
        		background: rgba(255,255,255,0.3);
    		    color: white;
    		    border: 0px solid white;
    	    	border-radius: 6px;
    		    padding: 10px;
    		    font-size: 11px;
    		    &::placeholder {
    		        color: white;
    		    }
            }
            textarea {
        		background: rgba(255,255,255,0.3);
    		    color: white;
    		    border: 0px solid white;
    	    	border-radius: 6px;
    		    padding: 5px 10px;
    		    font-size: 11px;
    		    &::placeholder {
    		        color: white;
    		    }
            }
            
            .form-actions {
              margin-top: -48px;
              float: right;
                
            }
            
            button {
                font-size: 13px;
                font-weight: 900;
                border: 0px;
        	    border-radius: 6px;
        	    height: 35px;
        		background-color: rgba(255,255,255,0.2);
    		    color: white;
                margin-top: 14px;
                width: 90px;
        		&:hover {
        			background-color: rgba(255,255,255,0.7);
        		}
            }
            
            .help-block {
              display: none;
            }
            .captcha {
                display: flex;
                 margin-top: -35px;
                margin-left: 88px;                
                img {
                    height: 27px;
                    width: auto;
                    margin-left: 12px;
                    margin-top: 7px;
                }
                input[name="captcha_response"] {
                      height: 35px; 
                     margin-left: -10px;
                }
                #edit-webform-ajax-submit-17 {
                  margin-top: 12px;
                }
                .form-item-captcha-response {
                    font-size: 15px;
                    margin-left: 20px;
                    label {
                        font-size: 11px;
                        display: none;
                    }
                }
            }
            .webform-confirmation {
            }
            .links {
                display: none;
            }
        }
    }

    .webform-component-file {
        label {
            display: none;
        }
        .form-managed-file {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            input[type="file"] {
                width: 40px;
                height: 40px;
                text-indent: -9999px;
                background-image: url(/sites/all/themes/sharktheme/images/bg/contact/clip.png);
                background-size: 50%;
                background-position: center;
                background-repeat: no-repeat;
            }
            button[type="submit"] {
                text-indent: -9999px;
                width: 40px;
                height: 40px;
                margin: 0 0px 0px 10px;
                background-image: url(/sites/all/themes/sharktheme/images/bg/contact/upload.png);
                background-size: 50%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    
    .contact-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
         align-items: center;
        padding: 15px 30px;
        &-mimic {
            color: white;
            &--long, &--short {
                display: inline-block;
            }
        }
        
        &-pash {
            a {
                font-family: 'Montserrat', sans-serif;
                color: #e84079;
                font-size: 22px;
                transition: .3s ease;
                &:hover {
                    text-decoration: none;
                    color: #f6b220;                
                }
            }
        }
    }
    
}
.tooltip-inner {
    display: none;
}

@keyframes titlefadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@media screen and (max-width: 767px) {
    #contact #block-webform-client-block-17 {
          transform: scale(0.8);    
    }
}

