#contact {
    .alert, .error {
	    width: 100%;
		background-color: rgba(255,255,255,0.3);
	    padding: 3px;
	    font-size: 10px;
	    margin: 5px 0;
	    border: 0px solid transparent;
	    border-radius: 0px;
	    ul {
	    	li {
			    list-style-type: none;
	    	}
	    }
    }


    .island-dive-content {
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/bg/contact/contact.jpg');

        form {
            input {
    	    	height: 27px;
        		background: rgba(255,255,255,0.3);
    		    color: white;
    		    border: 0px solid white;
    	    	border-radius: 6px;
    		    padding: 10px;
    		    font-size: 11px;
    		    &::placeholder {
    		        color: white;
    		    }
            }
            textarea {
        		background: rgba(255,255,255,0.3);
    		    color: white;
    		    border: 0px solid white;
    	    	border-radius: 6px;
    		    padding: 5px 10px;
    		    font-size: 11px;
    		    &::placeholder {
    		        color: white;
    		    }
            }
            
            .form-actions {
              margin-top: -48px;
              float: right;
                
            }
            
            button {
                font-size: 13px;
                font-weight: 900;
                border: 0px;
        	    border-radius: 6px;
        	    height: 35px;
        		background-color: rgba(255,255,255,0.2);
    		    color: white;
                margin-top: 14px;
        		&:hover {
        			background-color: rgba(255,255,255,0.7);
        		}
            }
            .captcha {
                display: flex;
                img {
                    height: 52px;
                    width: auto;                    
                }
                .form-item-captcha-response {
                    font-size: 15px;
                    margin-left: 20px;
                    label {
                        font-size: 11px;
                    }
                }
            }
            .webform-confirmation {
            }
            .links {
                display: none;
            }
        }
    }

    .webform-component-file {
        label {
            display: none;
        }
        .form-managed-file {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            #edit-submitted-file-attachment-upload {
                width: 40px;
                height: 40px;
                text-indent: -9999px;
                background-image: url(/sites/all/themes/sharktheme/images/bg/contact/clip.png);
                background-size: 50%;
                background-position: center;
                background-repeat: no-repeat;
            }
            #edit-submitted-file-attachment-upload-button {
                text-indent: -9999px;
                width: 40px;
                height: 40px;
                margin: 0 0px 0px 10px;
                background-image: url(/sites/all/themes/sharktheme/images/bg/contact/upload.png);
                background-size: 50%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    
}
.tooltip-inner {
    display: none;
}