.island-dive-content-disclaimer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/bg/disclaimer/disclaimer.png');
    height: 100%;
    width: 100%;
}
