

.island-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	perspective: 1200px;
	transform-style: preserve-3d;
	transition: transform 1.5ms ease-in-out;
	transform: translateY(0);
	z-index: 150;

	&[data-level="1"] {
		transform: translateY(0);
	}	
	
	&[data-level="2"], &[data-level="3"], &[data-level="4"] {
		animation: diveDownLevelTwo 0.3s both ease-in;
		animation-delay: 1s;

	}
	
	&[data-level="3"] {
		// animation: diveDownLevelThree 1.3s both ease-in;
	}
	&[data-level="4"] {
		// animation: diveDownLevelThree 1.3s both ease-in;
		.island-nav--down {
			display: none;
		}
	}	
	&[data-level="1"].goinUp {
		animation: diveUpLevelTwo 0.3s both ease-in;
		animation-delay: 1s;
	}
	
	&[data-level="2"].goinUp, &[data-level="3"].goinUp, &[data-level="4"].goinUp {
		// animation: diveUpLevelThree 1.3s both ease-in;
	}

	.island {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		// DESLIGAR
	    background-size: 100% auto;
	    background-repeat: no-repeat;
	    background-position: center;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		transform-style: preserve-3d;
		color: #fff;
		visibility: hidden;
		transition: 1.2ms;
		display: flex;
	    align-items: center;
	    justify-content: center;	
	    
	    // BACKGROUNDS

		&#safety {
	    	background-image: url('../images/bg/islands/L5.jpg');
		    background-size: 118%;
		    background-position: 0%;
		}
		&#eco {
	    	background-image: url('../images/bg/islands/L4.jpg');
		    background-size: 128%;
		    background-position: 100%;
		}
		&:nth-child(3) {
	    	background-image: url('../images/bg/islands/L3.jpg');
		}
		&:nth-child(4) {
	    	background-image: url('../images/bg/islands/L2.jpg');
		}
		&#about {
	    	background-image: url('../images/bg/islands/L1.jpg');
		    background-size: 119%;
		    background-position: 0%;
		}
		&#luke .lukeBg{
	    	background-image: url('../images/bg/islands/00.jpg');
		    background-size: 144%;
		    background-position: 50%;
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    left: 0;
		    top: 0;
		    background-repeat: no-repeat;
		    background-position: center;
		}
		&#products {
	    	background-image: url('../images/bg/islands/R1.jpg');
		    background-size: 119%;
		    background-position: 100%;

		}
		&:nth-child(8) {
	    	background-image: url('../images/bg/islands/R2.jpg');
		}
		&:nth-child(9) {
	    	background-image: url('../images/bg/islands/R3.jpg');
		}
		&#disclaimer {
	    	background-image: url('../images/bg/islands/R4.jpg');
		    background-size: 128%;
		    background-position: 0%;
		}
		&#contact {
	    	background-image: url('../images/bg/islands/R5.jpg');
		    background-size: 118%;
		    background-position: 100%;
		}	
		&-visible{
			visibility: visible !important;
			&#luke {
				&.down .lukeBg{
			    	background-position: 100%;
				    animation: LukeLeft 3.2s ease-out forwards;
				}
				&.up .lukeBg{
					background-position: 0%;
				    animation: LukeRight 3.2s ease-out forwards;
				}				
			}
			
			&#about, &#safety {
				&.down {
			    	background-position: 100%;
				}
				&.up {
					background-position: 99%;
				    transition: background-position 2s ease-out;
				    transition-delay: 1.2s;
				}
			}

			&#eco {
				&.up {
			    	background-position: 0%;
				}
				&.down {
					background-position: 0%;
				    transition: background-position 2s ease-out;
				    transition-delay: 1.2s;
				}				
			}

			&#products {
				&.down {
			    	background-position: 0%;
				    transition: background-position 2s ease-out;
				    transition-delay: 1.2s;
				}
				&.up {
					background-position: 0%;
				}
			}

			&#disclaimer {
				&.up {
			    	background-position: 100%;
				    transition: background-position 2s ease-out;
				    transition-delay: 1.2s;
				}
				&.down {
					background-position: 100%;
				}				
			}
			&#contact {
				&.down {
			    	background-position: 0%;
				    transition: background-position 2s ease-out;
				    transition-delay: 1.2s;
				}
				&.up {
					background-position: 0%;
				}
			}

			
		}
		
		
		// TITLES
		
		&-center {
			text-align: center;
			.island-title {
                margin: 17vw 0 0 15vw;
			    img {
			    	width: auto;
			    	max-height: 14vw;
			    }
			 }
		}
		
		&-title {
		    transform: translateZ(100px);
		    cursor: pointer;
		    z-index: 110;
			height: auto;
			width: auto;
			clip-path: none;
			
			&--insta {
    			position: absolute;
			    left: 50%;
			    top: 50%;
			    transform: translate3D(-50%, -50%, 100px);
			    margin: 12vw 0 0 17vw;
			    z-index: 900;
			    img {
			    	width: 2vw !important;
			    }
			}
    
		    img {
			    max-height: 10vw;
		    }
		    &:hover {
		    	opacity: 0.9;
		    }
		}

		
		&-left {
	    	justify-content: flex-start;		
			.island-title {
				margin: 30vw 0 0 20vw;
			}
		}
		
		&-right {
	    	justify-content: flex-end;		
			.island-title {
				margin: 30vw 20vw 0 0;
			}
		}

		&#safety {
			justify-content: center;
			.island-title {
		    	margin: 30vw 0 0 6vw;
			}
		}

		&#contact {
			justify-content: center;
			.island-title {
		    	margin: 30vw 4vw 0 0;
			}
		}
		
		// NAVIGATIONS

		&-dive {
			.island-nav--up, .island-nav--down {
				height: 30%;
				z-index: 450;
			}
		}
			

		&-nav {
			&--left, &--right {
			    position: absolute;
			    z-index: 99;
			    height: 100%;
			    width: 30%;
			    top: 0;
			}
			
			&--left {
				left: 0;
			    &:hover {
					background: linear-gradient(to right, rgba(84,84,84,0.3) 0%,rgba(84,84,84,0) 100%);
					cursor: pointer;
			    }
			}
			&--right {
				right: 0;
			    &:hover {
					background: linear-gradient(to left, rgba(84,84,84,0.3) 0%,rgba(84,84,84,0) 100%);
					cursor: pointer;
			    }
			}
			
			&--up, &--down {
			    height: 50%;
			    width: 100%;
			    position: absolute;
			    left: 0;
			    cursor: pointer;
			    z-index: 450;
			    &:hover {
					background: linear-gradient(to bottom, rgba(84,84,84,0.3) 0%,rgba(84,84,84,0) 100%);
			    }
			}
			&--up {
				top: 0;
			    &:hover {
					background: linear-gradient(to bottom, rgba(84,84,84,0.3) 0%,rgba(84,84,84,0) 100%);
					cursor: pointer;
			    }
			}
			&--down {
				bottom: 0;
			    &:hover {
					background: linear-gradient(to top, rgba(84,84,84,0.3) 0%,rgba(84,84,84,0) 100%);
					cursor: pointer;
			    }
			}
		}
		
	}
}


@keyframes LukeLeft {
    from {
	    background-position: 100%;
    }
    to {
	    background-position: 50%;
    }
}

@keyframes LukeRight {
    from {
	    background-position: 0%;
    }
    to {
	    background-position: 50%;
    }
}