.island-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	perspective: 1200px;
	transform-style: preserve-3d;
	transition: transform 1.5ms ease-in-out;
	transform: translateY(0);
	z-index: 150;

	&[data-level="1"] {
		transform: translateY(0);
	}	
	
	&[data-level="2"] {
		animation: diveDownLevelTwo 0.3s both ease-in;
		animation-delay: 1s;

	}
	
	&[data-level="3"] {
		animation: diveDownLevelThree 1.3s both ease-in;
	}
	
	&[data-level="1"].goinUp {
		animation: diveUpLevelTwo 0.3s both ease-in;
		animation-delay: 1s;
	}
	
	&[data-level="2"].goinUp {
		animation: diveUpLevelThree 1.3s both ease-in;
	}

	.island {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	    background-size: 100% auto;
	    background-repeat: no-repeat;
	    background-position: center;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		transform-style: preserve-3d;
		color: #fff;
		visibility: hidden;
		transition: 1.2ms;
		display: flex;
	    align-items: center;
	    justify-content: center;	
	    
	    // BACKGROUNDS

		&:nth-child(1) {
	    	background-image: url('../images/bg/islands/L5.jpg');
		}
		&:nth-child(2) {
	    	background-image: url('../images/bg/islands/L4.jpg');
		}
		&:nth-child(3) {
	    	background-image: url('../images/bg/islands/L3.jpg');
		}
		&:nth-child(4) {
	    	background-image: url('../images/bg/islands/L2.jpg');
		}
		&:nth-child(5) {
	    	background-image: url('../images/bg/islands/L1.jpg');
		}
		&:nth-child(6) {
	    	background-image: url('../images/bg/islands/00.jpg');
		}
		&:nth-child(7) {
	    	background-image: url('../images/bg/islands/R1.jpg');
		}
		&:nth-child(8) {
	    	background-image: url('../images/bg/islands/R2.jpg');
		}
		&:nth-child(9) {
	    	background-image: url('../images/bg/islands/R3.jpg');
		}
		&:nth-child(10) {
	    	background-image: url('../images/bg/islands/R4.jpg');
		}
		&:nth-child(11) {
	    	background-image: url('../images/bg/islands/R5.jpg');
		}	
		&-visible{
			visibility: visible !important;
		}
		
		
		// TITLES
		
		&-center {
			text-align: center;
			.island-title {
                margin: 17vw 0 0 15vw;
			    img {
			    	width: auto;
			    	max-height: 14vw;
			    }
			 }
		}
		
		&-title {
		    transform: translateZ(100px);
		    cursor: pointer;
		    z-index: 110;
			height: auto;
			width: auto;
			clip-path: none;
    
		    img {
			    max-height: 10vw;
		    }
		    &:hover {
		    	opacity: 0.9;
		    }
		}

		
		&-left {
	    	justify-content: flex-start;		
			.island-title {
				margin: 30vw 0 0 20vw;
			}
		}
		
		&-right {
	    	justify-content: flex-end;		
			.island-title {
				margin: 30vw 20vw 0 0;
			}
		}

		&#safety {
			justify-content: center;
			.island-title {
		    	margin: 30vw 0 0 6vw;
			}
		}

		&#contact {
			justify-content: center;
			.island-title {
		    	margin: 30vw 4vw 0 0;
			}
		}
		
		// NAVIGATIONS

		&-nav {
			&--left, &--right {
			    position: absolute;
			    z-index: 99;
			    height: 100%;
			    width: 50%;
			    top: 0;
			}
			&--left {
				left: 0;
			    &:hover {
					background: linear-gradient(to right, rgba(84,84,84,0.3) 0%,rgba(84,84,84,0) 100%);
					cursor: pointer;
			    }
			}
			&--right {
				right: 0;
			    &:hover {
					background: linear-gradient(to left, rgba(84,84,84,0.3) 0%,rgba(84,84,84,0) 100%);
					cursor: pointer;
			    }
			}
		}
		
	}
}
