#products {
    .island-dive-content {
        height: 200%;
        &-product {
        	transition: transform 1.5ms ease-in-out;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 50%;
            position: relative;
        }
    }
}

#products-women {
     background-image: url('../images/bg/products/women.jpg');
}
#products-men {
     background-image: url('../images/bg/products/men.jpg');
}

.island-wrapper {
	&[data-level="2"] {
	    .spinTopOut, .spinTopIn, .spinBottomOut, .spinBottomIn {
            #products-men {
               visibility: hidden;
            }	    
	    }

	}    
	&[data-level="3"] {
	    .spinTopOut, .spinTopIn, .spinBottomOut, .spinBottomIn {
            #products-women {
               visibility: hidden;
            }	    
	    }
	}    
}
