#shop {
	.island-dive   {
	    
	    &-content {
	        height: 100%;
            &-shop {
                height: 100%;
                width: 100%;
                position: absolute;
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: center;
                transition: background 1s;
                opacity: 0;
                &#shop-women {
                    opacity: 1;
                }
            }
	    }
    	&-size {
    		position: absolute;
    		top: 20px    ;
    		left: 20px;
    		z-index: 150;
    		&-title {
    			font-size: 40px;
    			cursor: pointer;
    		}
    	}
    	
    	&-shop {
    	    &-thumb {
    	    	background: white;
    	    	display: inline-block;
    	    	height: 80px;
    	    	cursor: pointer;
    	    	transition: 1s linear;
                position: absolute;
                width: 100px;
    	    	height: auto;
                z-index: 90;
	    	    left: 0px;
	    	    bottom: 40px;
	    	    &:nth-child(1) {
	    	        left: 20px;
	    	    }
	    	    &:nth-child(2) {
	    	        left: 140px;
	    	    }
	    	    &:nth-child(3) {
	    	        left: 260px;
	    	    }
	    	    &:nth-child(4) {
	    	        left: 380px;
	    	    }
	    	    &:nth-child(5) {
	    	        left: 500px;
	    	    }
    	    	&.active {
    	    	    width: 100%;
    	    	    height: auto;
    	    	    position: absolute;
    	    	    z-index: 80;
    	    	    left: 0;
    	    	    bottom: 0;
    	    	}
    	    }
    	}	    
	}
}

#shop-women {
    background-image: url('../images/bg/shop/women.jpg');
}

#shop-men {
    background-image: url('../images/bg/shop/men.jpg');
}

.island-wrapper {
	&[data-level="2"].goinUp {
        #shop-men {
            opacity: 0 !important;
            transition: opacity 1.5s;
        }
    }
}
.island-wrapper {
	&[data-level="3"] {
        #shop-men {    		
            opacity: 1;
            transition: opacity 1.5s;
        }
        #shop-women {    		
            opacity: 0 !important;
            transition: opacity 1.5s;
        }
	}
}
.island-wrapper {
	&[data-level="3"].goinUp {
        #shop-kids {    		
            opacity: 0 !important;
            transition: opacity 1.5s;
        }
    }
}
.island-wrapper {
	&[data-level="4"] {
        #shop-kids {    		
            opacity: 0 !important;
            transition: opacity 1.5s;
        }
	}
}

.island-wrapper {
	&[data-level="2"] {
	    .spinTopOut, .spinTopIn, .spinBottomOut, .spinBottomIn {
            #shop-men {
               visibility: hidden;
            }	    
	    }
	}    
	&[data-level="3"] {
	    .spinTopOut, .spinTopIn, .spinBottomOut, .spinBottomIn {
            #shop-women {
               visibility: hidden;
            }
	    }
	}   
}