#shop {
	.island-dive   {
	    
	    &-content {
	        height: 100%;
            &-shop {
                height: 100%;
                width: 100%;
                position: absolute;
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: center;
                transition: background 1s;
                opacity: 0;
                &#shop-women {
                    opacity: 1;
                }
            }
	    }
    	&-size {
    		position: absolute;
    		z-index: 150;
            left: 35px;
            top: 35px;
            &-title {
                img {
                  max-height: 10vw;
                  cursor: pointer;
                }
    		}
    		&-chart {
    		    img {
                  width: 45vw;
    		    }
    		}
    	}

    	&-shop {
    	    &-thumb {
    	    	display: inline-block;
    	    	height: 80px;
    	    	cursor: pointer;
                position: absolute;
                width: 100px;
    	    	height: 100px;
                z-index: 150;
	    	    // left: 0px;
	    	    bottom: 40px;
	    	    background-size: cover;

    	    	&[data-thumb="1"] {
    	    	    left: 20px;
    	    	    background-image: url(/sites/all/themes/sharktheme/images/bg/shop/women.jpg);
                 }
                &[data-thumb="2"] {
	    	        left: 140px;
    	    	    background-image: url(/sites/all/themes/sharktheme/images/bg/shop/women2.jpg);
                }
                &[data-thumb="3"] {
	    	        left: 260px;
    	    	    background-image: url(/sites/all/themes/sharktheme/images/bg/shop/women3.jpg);
                }
                &[data-thumb="4"] {
	    	        left: 380px;
    	    	    background-image: url(/sites/all/themes/sharktheme/images/bg/shop/women4.jpg);
                }
                &[data-thumb="5"] {
	    	        left: 500px;
    	    	    background-image: url(/sites/all/themes/sharktheme/images/bg/shop/women5.jpg);
                }
    	    }
    	    &-shower {
	            width: 100%;
	            height: 100%;
	            left: 0 !important;
	            bottom: 0;
	            z-index: 20;    	        
    	    }
    	    &-grower {
	    	    z-index: 0;

    	        &.grow {
    	    	    transition: 0.5s linear;
    	            width: 100%;
    	            height: 100%;
    	            left: 0;
    	            bottom: 0;
    	            z-index: 120;
    	        }
    	    }
    	}	    
	}
}

@keyframes growThumb {
    0% {
        width: 100px;
    }

    100% {
	    width: 100%;
	    height: 100%;
	    bottom: 0;
	    left: 0;
    }
}


@keyframes showThumb {
    50% {
	    width: 100%;
	    left: 0;
	    bottom: 0;        
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#shop-women {
    // background-image: url('../images/bg/shop/women.jpg');
}

#shop-men {
    // background-image: url('../images/bg/shop/men.jpg');
}

.island-wrapper {
	&[data-level="2"].goinUp {
        #shop-men {
            opacity: 0 !important;
            transition: opacity 1.5s;
        }
    }
}
.island-wrapper {
	&[data-level="3"] {
        #shop-men {    		
            opacity: 1;
            transition: opacity 1.5s;
        }
        #shop-women {    		
            opacity: 0 !important;
            transition: opacity 1.5s;
        }
	}
}
.island-wrapper {
	&[data-level="3"].goinUp {
        #shop-kids {    		
            opacity: 0 !important;
            transition: opacity 1.5s;
        }
    }
}
.island-wrapper {
	&[data-level="4"] {
        #shop-kids {    		
            opacity: 1;
            transition: opacity 1.5s;
        }
        #shop-women, #shop-men {    		
            opacity: 0 !important;
            transition: opacity 1.5s;
        }
	}
}
.island-wrapper {
	&[data-level="2"] {
	    .spinTopOut, .spinTopIn, .spinBottomOut, .spinBottomIn {
            #shop-men {
               visibility: hidden;
            }	    
	    }
	}    
	&[data-level="3"] {
	    .spinTopOut, .spinTopIn, .spinBottomOut, .spinBottomIn {
            #shop-women {
               visibility: hidden;
            }
	    }
	}   
}