.island-dive-content-sitemap {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/bg/luke/home.jpg');
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 500;

    .sitemap-container {
        width: 210px;
        height: 390px;
        perspective: 1100px;
        position: absolute;
        z-index: 500;
        left: 50%;
        top: 50%;
        transform: scale(0.8) translate(-50%, -50%);
        margin: -13.5vw 0vw 0 -20vw;
     }

    .sitemap {
        width: 100%;
        height: 100%;
        top: 13vw;
        position: absolute;
        transform: translateZ( -320px );
        transition: transform 1s;
        transform-style: preserve-3d;
        perspective: 1100px;
        -webkit-perspective: initial;
        -moz-perspective: initial;
        -ms-transform-style: none;
        -ms-transform: none;
        
        &-title {
          height: 7vw;
         margin-top: 6vw;
         position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
        
        &-nav {
            position: absolute;
            z-index: 9999;
            height: 505px;
            width: 175px;
            position: absolute;
            display: block;
            cursor: pointer;
             margin-top: 13.5vw;
            &.left {
                left: -165px;
            }
            &.right {
                right: -165px;
            }
        }
                  
        &-panel {
          display: block;
          position: absolute;
          width: 185px;
          height: 120px;
          left: 10px;
          top: 10px;
          line-height: 116px;
          font-size: 80px;
          font-weight: bold;
          color: white;
          text-align: center;
          perspective: 1100px;
          -webkit-perspective: initial;
          -moz-perspective: initial;

          &-item {
           perspective: 1100px;
          -webkit-perspective: initial;
          -moz-perspective: initial;

            margin-top: 5px;
            overflow: hidden;
            position: relative;
            overflow: hidden;
            height: 100%;
            width: 100%;
            
            background: rgba(1,1,1,0.5);

            img {
                position: absolute;
                top: -9999px;
                right: -9999px;
                bottom: -9999px;
                left: -9999px;
                margin: auto;
                height: 100%;
                width: 100%;
                opacity: 0.8;
            }
          }

          &:nth-child(1) {
                    transform: rotateY(   32.7deg ) translateZ( 320px );
          }
          &:nth-child(2) {
                    transform: rotateY(  65.4deg ) translateZ( 320px );
          }
          &:nth-child(3) {
                    transform: rotateY(  98.1deg ) translateZ( 320px );
          }
          &:nth-child(4) {
                    transform: rotateY( 130.8deg ) translateZ( 320px );
          }
          &:nth-child(5) {
                    transform: rotateY( 163.5deg ) translateZ( 320px );
          }
          &:nth-child(6) {
                    transform: rotateY( 196.3deg ) translateZ( 320px );
          }
          &:nth-child(7) {
                    transform: rotateY( 228.9deg ) translateZ( 320px );
          }
          &:nth-child(8) {
                    transform: rotateY( 261.6deg ) translateZ( 320px );
          }
          &:nth-child(9) {
                    transform: rotateY( 294.3deg ) translateZ( 320px );
          }
          &:nth-child(10) {
                    transform: rotateY( 327deg ) translateZ( 320px );
          }
          &:nth-child(11) {
                    transform: rotateY( 360deg ) translateZ( 320px );
          }


        }

    }
    
    .sitemap-ie {
        &-panel {

          display: block;
          position: absolute;
          width: 185px;
          height: 120px;
            &-item {
            margin-top: 5px;
            overflow: hidden;
            position: relative;
            overflow: hidden;
            height: 100%;
            width: 100%;
            background: rgba(1,1,1,0.5);

                img {
                    position: absolute;
                    top: -9999px;
                    right: -9999px;
                    bottom: -9999px;
                    left: -9999px;
                    margin: auto;
                    height: 100%;
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }


  
    button {
        color: black;
    }
    
}

#sitemap-ie {
    visibility: hidden;
    opacity: 0;
}



@media screen and (max-width: 767px) {
    .island-dive-content-sitemap .sitemap-container {
        transform: scale(0.5) translate(-100%, -75%);
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #sitemap {
        display: none;
    }
    #sitemap-ie {
        visibility: visible;
        opacity: 1;
         z-index: 9999;
     }   
}