.island-dive-content-text {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    &-blocks {
        display: flex;
        perspective: 50vw;
        perspective-origin: center 50vw;
        transform-style: preserve-3d
    }
    &-block {
        height: 80vh;
        width: 50vw;
        background-position-y: 0;
        background-repeat: no-repeat;
        background-color: red;
        background-size: 50vw;
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Lorem_ipsum_flush_justified.svg/2000px-Lorem_ipsum_flush_justified.svg.png');
    
        &--left {
            background-position-x: -25vw;
            transform: translate(10px) rotateY(15deg);
        }
        &--right {
            background-position-x: -25vw;
            transform: translate(-10px) rotateY(-15deg);
        }
    }
}

#safety .island-dive-content-text {
    background-image: url('../images/bg/texts/safety.jpg');
}
#eco .island-dive-content-text {
    background-image: url('../images/bg/texts/eco.jpg');
}
#habitat .island-dive-content-text {
    background-image: url('../images/bg/texts/habitat.jpg');
}
#roots .island-dive-content-text {
    background-image: url('../images/bg/texts/roots.jpg');
}
#about .island-dive-content-text {
    background-image: url('../images/bg/texts/about.jpg');
}
