.island-dive-content-smokey {
   display: block;
}
.island-dive-content-text, .island-dive-content-smokey {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    perspective: 30vw;

    &-blocks {
        display: flex;
        perspective: 50vw;
        // perspective-origin: center 50vw;
        // transform-style: preserve-3d;
        // -webkit-transform: translate3D(0px, -10px, 2px);
    }
    &-block {
        height: 100vh;
        width: 10vw;
        background-position-y: 15vw;
        background-repeat: no-repeat;
        background-size: 64vw;

        &:nth-child(1) {
            transform: translateZ(7.2vw) translateX(1.1vw) rotateY(20deg);
            background-position-x: 18vw;
        }
        &:nth-child(2) {
            transform: translateZ(4.2vw) translatex(0.55vw) rotateY(15deg);
            background-position-x: 8vw;
        }
        &:nth-child(3) {
            transform: translateZ(2vw) translatex(0.2vw) rotateY(10deg);
            background-position-x: -2vw;
        }
        &:nth-child(4) {
            transform: translateZ(0.6vw) translatex(0vw) rotateY(6deg);
            background-position-x: -12vw;
        }
        &:nth-child(5) {
            transform: translateZ(0) translatex(0vw) rotateY(2deg);
            background-position-x: -22vw;
        }
        
        &:nth-child(6) {
            transform: translateZ(0) translatex(0vw) rotateY(-2deg);
             background-position-x: -32vw;
       }

        &:nth-child(7) {
            transform: translateZ(0.6vw) translatex(-0.1vw) rotateY(-5deg);
            background-position-x: -42vw;
        }

        &:nth-child(8) {
            transform: translateZ(2vw) translatex(-0.3vw) rotateY(-10deg);
            background-position-x: -52vw;
        }
        
        &:nth-child(9) {
            transform: translateZ(4.2vw) translatex(-0.55vw) rotateY(-15deg);
            background-position-x: -62vw;
        }
        &:nth-child(10) {
            transform: translateZ(7.2vw) translateX(-1.1vw) rotateY(-20deg);
            background-position-x: -72vw;
        }
    }

    
}

#safety .island-dive-content {
     &-text {
        background-image: url('../images/bg/texts/safety.jpg'); 
        &-block {
            background-image: url('../images/bg/texts/texts/safety.png');        
        }
    }
    &-smokey {
        background-image: url('../images/bg/texts/smokey/safety.png');
        z-index: 400;
    }}
#safety .island-dive-content {
     &-text {
        background-image: url('../images/bg/texts/safety.jpg'); 
        &-block {
            background-image: url('../images/bg/texts/texts/safety.png');        
        }
    }
    &-smokey {
        background-image: url('../images/bg/texts/smokey/safety.png');
        z-index: 400;
    }}
#eco .island-dive-content {
     &-text {
        background-image: url('../images/bg/texts/eco.jpg'); 
        &-block {
            background-image: url('../images/bg/texts/texts/eco.png');        
        }
    }
    &-smokey {
        background-image: url('../images/bg/texts/smokey/eco.png');
        z-index: 400;
    }}
#habitat .island-dive-content {
     &-text {
        background-image: url('../images/bg/texts/habitat.jpg'); 
        &-block {
            background-image: url('../images/bg/texts/texts/habitat.png');        
        }
    }
    &-smokey {
        background-image: url('../images/bg/texts/smokey/habitat.png');
        z-index: 400;
    }}
#roots .island-dive-content {
     &-text {
        background-image: url('../images/bg/texts/roots.jpg'); 
        &-block {
            background-image: url('../images/bg/texts/texts/roots.png');        
        }
    }
    &-smokey {
        background-image: url('../images/bg/texts/smokey/roots.png');
        z-index: 400;
    }}
#about .island-dive-content {
     &-text {
        background-image: url('../images/bg/texts/about.jpg'); 
        &-block {
            background-image: url('../images/bg/texts/texts/about.png');        
        }
    }
    &-smokey {
        background-image: url('../images/bg/texts/smokey/about.png');
        z-index: 400;
    }
}

.island-dive .island-dive-content .underwater-slider-vertical {
    background-image: url(../images/MS_scroll.svg);
    background-size: auto 12vh;
    background-repeat-x: no-repeat;
    background-position: top;
    background-color: transparent;
    width: 40px;
    border: 0;
    z-index: 500;
    position: absolute;
    right: 20px;
    height: 60.5vh;
    top: 50%;
    transform: translateY(-50%);

    .ui-widget-header {
        background: transparent;
    }

    .ui-state-default, .ui-widget-content .ui-state-default {
        background-image: url(../images/MS_pointer.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 35px;
        margin-left: 7px;
        transform: translateY(8px);
        height: 35px;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        &:focus {
          border: none;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    
}

