@import 'transitions';
@import 'texts';
@import 'checkout';
@import 'dive';
@import 'sitemap';
@import 'products';
@import 'shop';
@import 'disclaimer';
@import 'islands';
@import 'contact';

* {
	margin: 0;
	padding: 0;
}



html,body {
	overflow: hidden;
	background-color: black;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
	position: static !important;
    touch-action: none;
}


.mobileNotification {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	color: white;
	z-index: 90;
	display: flex;
	align-items: center;
	justify-content: center;
	span {
		text-align: center;
	}
	&.landscape {
		z-index: 100;
	}
}


@media screen and (max-width: 768px) {
	.island-wrapper {
		display: none;
	}	
}

@media screen and (min-width: 768px) {
	.mobileNotification {
		display: none;
	}	
}






.alert-success.status {
	display: none;
}

#bullets {
	display: none;
	position: absolute;
	width: 100%;
	bottom: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
}

#bullets li {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 0 3px;
	cursor: pointer;
}

#bullets li:first-child, #bullets li:last-child {
	background: rgba(255,255,255,0.2);
}

#bullets li.active {
	cursor: default;
	background: #fff;
}