@import 'preloader';
@import 'transitions';
@import 'texts';
@import 'checkout';
@import 'dive';
@import 'sitemap';
@import 'products';
@import 'shop';
@import 'disclaimer';
@import 'islands';
@import 'contact';
@import 'korean';
@import 'jqueryui';

* {
	margin: 0;
	padding: 0;
}



html,body {
	overflow: hidden;
	background-color: #031a2e;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
	position: static !important;
    touch-action: none;
}


.mobileNotification {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #031a2e;
	color: white;
	z-index: 90;
	display: flex;
	align-items: center;
	justify-content: center;
	button {
	    background: #003c47;
	    border: 2px solid white;
	    padding: 10px 20px;
	    margin-top: 15px;
	    &:hover {
		    background: white;
		    border: 2px solid #003c47;
		    color: #003c47;
	    }
	}


	span {
		text-align: center;
	}
	&.landscape {
		z-index: 9999;
	}
}

.preload-image {
	display: none !important;
}


@media screen and (max-width: 768px) {
	.island-wrapper {
		display: none;
	}	
}

@media screen and (min-width: 769px) {
	.mobileNotification {
		display: none !important;
	}	
}






.alert-success.status {
	display: none;
}

